
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Start breadcrumb area paroller-->
<section class="breadcrumb-area">
    <div class="breadcrumb-area-bg" style="background-image: url(/themes/assets/images/breadcrumb/breadcrumb-1.jpg);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="inner-content">
                    <div class="title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                        <h2>Programs Details</h2>
                    </div>
                    <div class="breadcrumb-menu" data-aos="fade-down" data-aos-easing="linear"
                         data-aos-duration="1500">
                        <ul>
                            <li><a href="index-2.html">Home</a></li>
                            <li class="active">Programs Details</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->
<!--Start page Contains Area-->
<section class="page-contains-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <div class="page-contains-box">
                    <div class="inner-title">
                        <h3>Page Contains:</h3>
                    </div>
                    <div class="page-contains-btn">
                        <ul class="navigation clearfix scroll-nav">
                            <li><a href="#page-detail">Details</a></li>

                            <li><a href="#overview">Overview</a></li>
                            <li><a href="#requirements">Requirements</a></li>
                            <li><a href="#programmes">Programmes</a></li>
                            <li><a href="#career">Career</a></li>
                            <li><a href="#faculty">Faculty</a></li>
                            <li><a href="#essential-links">Essential Links</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--End page Contains Area-->
<!--End Career Opportunities Area-->
<section class="blog-details-page" id="page-detail">
    <div class="container">
        <div class="row">

            <div class="col-xl-9">
                <div class="blog-details-page__content">
                    <div class="blog-details-page__content__inner">

                        <div class="blog-details-page__img-box">
                            <img src="/themes/assets/images/blog/blog-details-img-1.jpg" alt="">
                        </div>
                        <div class="blog-details-page__top-text">
                            <div class="big-text">
                                <h2>z</h2>
                            </div>
                            <div class="text">
                                <p>
                                    enounce with righteous indignation and mens who are so beguiled
                                    demord charm some of some all pleasure the moment sayings through
                                    shrinkings from all the and pains these are perfectly simple and
                                    easy to distinguish. In a free hour, when our powers choice This book is
                                    a treatise
                                </p>
                            </div>
                        </div>

                        <div class="blog-details-page__text-1">
                            <p>
                                there anyone who loves off pursues news of desires pains and troubles
                                that
                                are boundry equal blame belongs to those who fail in their duty through
                                weakness extremely painful.
                            </p>
                        </div>

                        <div class="blog-details-page__quote-box">
                            <div class="inner">
                                <div class="icon">
                                    <span class="icon-quote"></span>
                                </div>
                                <div class="inner-title">
                                    <h3>
                                        A quality education grants us the ability to fight the war on
                                        ignorance and poverty
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="blog-details-page__text-2">
                            <p>
                                Foresee the pain and trouble foresee the pain and trouble enjoy that are
                                bound to ensue indignations dislike men who are so beguiled and
                                <span>demoralized by the charms of pleasure of the moment</span> so all blinded
                                by desire, that they cannot foresee the pain and trouble that are bound
                                frequently occur.
                            </p>
                        </div>

                        <div class="blog-details-page__text-3">
                            <h3>Change For The Better</h3>
                            <div class="inner-text">
                                <p>
                                    Comes from sections <span>1.10.32 and 1.10.33</span> of "de Finibus Bonorum
                                    et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45
                                    BC. This book is a treatise on the theory of ethics, very popular during
                                    the Renaissance the lorem ipsum dolor sit amet..", comes from a line in
                                    section <span>1.10.32.</span>
                                </p>
                                <p>
                                    Simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry's all standard dummy text ever <span>
                                        since the
                                        1500s,
                                    </span> when an unknown printer took a galley of type
                                    and scrambled it to make a type specimen book. It uses a dictionary
                                    of <span>over 200 Latin</span> words,
                                    combined with a handfulof model sentence structures, to generate
                                    circumstances.
                                </p>
                                <p>
                                    Contrary to popular belief, Lorem Ipsum is not simply random text. It
                                    has
                                    roots in a piece of classical Latin literature from 45 BC, making it
                                    over 2000 years old cannot foresee the pain and trouble that are
                                    bound.
                                </p>
                            </div>
                        </div>

                        <div class="blog-details-page__text-4">
                            <h3>Greatness Within Our Grasp</h3>
                            <div class="inner-text">
                                <p>
                                    Typesetting industry lorem Ipsum has been the industry's stan-dard
                                    dummy text ever since the 1500s, when an unknown printer took a galley of
                                    type and scrambled to ensue and equal blame.
                                </p>
                            </div>
                        </div>

                        <div class="blog-details-page__text-5">
                            <div class="inner-title">
                                <div class="dot-box"></div>
                                <h3>Look Ever Forward</h3>
                            </div>
                            <div class="inner-text">
                                <p>
                                    Combined with a handful of model sentence structures, to generate
                                    lorem
                                    Ipsum which looks reasonable. The generated is therefore.
                                </p>
                                <ul>
                                    <li>Aenean sodales ante vitae turpis placerat viverra.</li>
                                    <li>
                                        Aenean tempus augue eu ante congue porta id condimentum purus.
                                    </li>
                                    <li>Quisque at elit sed arcu blandit rhoncus ut quis odio.</li>
                                    <li>
                                        Vestibulum vel augue eget nibh egestas malesuada ac fringilla
                                        magna
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="blog-details-page__text-6">
                            <h3>Learning Lives Forever</h3>
                            <p>
                                Dislike men who are so beguiled and demoralized by the charms of pleasure
                                of
                                the moment, so blinded by desire, that they cannot foresee the pain and
                                trouble that are bound to ensue; and equal blame belongs to those who
                                fail
                                in their duty through weakness of will, which is the same as saying
                                through
                                shrinking from toil and pain. These cases are perfectly simple and easy
                                to
                                distinguish.
                            </p>
                        </div>

                        <div class="blog-details-page__tag-box">
                            <div class="inner-title">
                                <h3># Posted In:</h3>
                            </div>
                            <ul>
                                <li>Activities,</li>
                                <li>Ferstivals,</li>
                                <li>Sports</li>
                            </ul>
                        </div>

                      

                    </div>

                 


                 
               

                </div>
            </div>

            <!--Start Thm Sidebar Box-->
            <div class="col-xl-3 col-lg-5">
                <div class="thm-sidebar-box">

                    <div class="sidebar-search-box">
                        <form class="search-form" action="#">
                            <input placeholder="Search..." type="text">
                            <button type="submit">
                                <i class="icon-zoom"></i>
                            </button>
                        </form>
                    </div>

                    <div class="single-sidebar-box">
                        <div class="sidebar-title">
                            <div class="dot-box"></div>
                            <h3>Categories</h3>
                        </div>
                        <ul class="sidebar-categories-box">
                            <li><a href="#">Academics <span>14</span></a></li>
                            <li><a href="#">Awards <span>07</span></a></li>
                            <li><a href="#">Community <span>05</span></a></li>
                            <li><a href="#">Foundation <span>14</span></a></li>
                            <li><a href="#">Technology <span>17</span></a></li>
                            <li><a href="#">World Affairs <span>20</span></a></li>
                        </ul>
                    </div>

                    <div class="single-sidebar-box">
                        <div class="sidebar-title">
                            <div class="dot-box"></div>
                            <h3>Popular Post</h3>
                        </div>
                        <div class="sidebar-blog-post">
                            <ul class="blog-post">
                                <li>
                                    <div class="inner">
                                        <div class="img-box">
                                            <img src="/themes/assets/images/sidebar/news-1.jpg" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="blog-single.html">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            <div class="post-date">
                                                <span class="icon-date"></span> Nov 25, 2022
                                            </div>
                                            <h4>
                                                <a href="blog-single.html">
                                                    University of<br> Educamb Award 4 ...
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <div class="img-box">
                                            <img src="/themes/assets/images/sidebar/news-2.jpg" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="blog-single.html">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            <div class="post-date">
                                                <span class="icon-date"></span> Nov 14, 2022
                                            </div>
                                            <h4>
                                                <a href="blog-single.html">
                                                    A Core Commitment<br> to Liberal Arts ...
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="inner">
                                        <div class="img-box">
                                            <img src="/themes/assets/images/sidebar/news-3.jpg" alt="Awesome Image">
                                            <div class="overlay-content">
                                                <a href="blog-single.html">
                                                    <i class="fa fa-link" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="title-box">
                                            <div class="post-date">
                                                <span class="icon-date"></span> Sep 10, 2022
                                            </div>
                                            <h4>
                                                <a href="blog-single.html">
                                                    Top 10 Educamb<br> Accomblishments ...
                                                </a>
                                            </h4>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-sidebar-box">
                        <div class="sidebar-author-box text-center">
                            <div class="top">
                                <h3>Lucas Benjamin</h3>
                                <p>Public Relationship Officer</p>
                            </div>
                            <div class="img-holder">
                                <img src="/themes/assets/images/blog/sidebar-author.jpg" alt="">
                            </div>
                            <div class="info">
                                <ul>
                                    <li><a href="mailto:yourmail@email.com">Benjamin@educamb.com</a></li>
                                    <li><a href="tel:123456789">815-614-5008</a></li>
                                </ul>
                            </div>
                            <ul class="social-links">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="linkedin">
                                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                </li>
                                <li class="instagram">
                                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="single-sidebar-box">
                        <div class="sidebar-title">
                            <div class="dot-box"></div>
                            <h3>Popular Tags</h3>
                        </div>
                        <div class="popular-tag-box">
                            <ul class="popular-tag">
                                <li><a href="#">Activities</a></li>
                                <li><a href="#">Campus</a></li>
                                <li><a href="#">Graduates</a></li>
                                <li><a href="#">Event</a></li>
                                <li><a href="#">Elections</a></li>
                                <li><a href="#">Festivals</a></li>
                                <li><a href="#">Lecture</a></li>
                                <li><a href="#">Library</a></li>
                                <li><a href="#">Recognize</a></li>
                                <li><a href="#">Online</a></li>
                                <li><a href="#">Research</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Training</a></li>
                                <li><a href="#">Visitors</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-subscribe-content-box">
                        <div class="sidebar-subscribe-content-box-bg" style="background-image: url(/themes/assets/images/sidebar/sidebar-subscribe-box-img.jpg);">
                        </div>
                        <div class="inner-content">
                            <div class="inner-title">
                                <h3>Subscribe<br> Our Newsletter</h3>
                            </div>
                            <form class="sidebar-subscribe-form" action="#">
                                <input type="email" name="email" placeholder="Your Email...">
                                <button class="btn-one" type="submit">
                                    <span class="txt">
                                        <i class="icon-send"></i>
                                    </span>
                                </button>
                            </form>
                            <p>* We’re not spam</p>
                        </div>
                    </div>

                </div>
            </div>
            <!--End Thm Sidebar Box-->

        </div>
    </div>
</section>
<!--Start Faculty Members Area-->
<!--Start Program Details Area-->
<section id="overview" class="program-details-area">
    <div class="program-details-area__bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <div class="program-details-tab-content">
                    <div class="program-details-tab-content__img-box"
                         style="background-image: url(/themes/assets/images/programs/program-details-tab-content__img-box-1.png);">
                    </div>
                    <div class="program-details-tab-content__inner">
                        <div class="program-details-tab-content__inner__shape"
                             style="background-image: url(/themes/assets/images/shape/program-details-tab-content__inner-shape.png);">
                        </div>
                        <div class="program-details-tab-content__text">
                            <div class="sec-title">
                                <h2>Degree Overview</h2>
                            </div>
                            <p>
                                In a free hour, when our power of choice is untrammelled and when nothing
                                prevents our being able what like best every pleasure is to be welcomed
                                every
                                pain.
                            </p>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <span class="icon-star"></span>
                                    </div>
                                    <div class="inner-text">
                                        <h3>Salient Features</h3>
                                        <p>Choice is untrammelled nothing our what we like best.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span class="icon-star"></span>
                                    </div>
                                    <div class="inner-text">
                                        <h3>Milestones</h3>
                                        <p>
                                            Business will frequently occur that pleasure repudiate
                                            simple and easy to distinguish.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="program-details-form-box">
                            <div class="sec-title">
                                <h2>Achieve Your Dream </h2>
                            </div>
                            <form id="program-details-form-1" name="programDetailsForm" class="" action="#"
                                  method="post">
                                <div class="input-box">
                                    <input type="text" name="form_name" id="formName" placeholder="Your Name"
                                           required="">
                                </div>
                                <div class="input-box">
                                    <input type="email" name="form_email" id="formEmail"
                                           placeholder="Email Address" required="">
                                </div>
                                <div class="input-box">
                                    <div class="select-box">
                                        <select class="wide">
                                            <option data-display="Fresh Student">
                                                Fresh Student
                                            </option>
                                            <option value="1">Sports & Games</option>
                                            <option value="2">Seminar</option>
                                            <option value="3">Exhibition</option>
                                            <option value="4">Education</option>
                                            <option value="5">Admissions Test</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="button-box">
                                    <button class="btn-one" type="submit" data-loading-text="Please wait...">
                                        <span class="txt">
                                            Apply Now
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<!--End Program Details Area-->
<!--Start Requirements For Degree-->
<section id="requirements" class="requirements-for-degree">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Requirements for the Degree</h2>
            <div class="sub-title">
                <p>
                    Untrammelled and when nothing prevents our being able do what we like best every<br>
                    pleasure is to be welcomed and every pain.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="requirements-for-degree__content">
                    <ul>
                        <li>Reading knowledge of the non-English language</li>
                        <li>Historiography and Methodology (FAH101)</li>
                        <li>Comprehensive Exam</li>
                    </ul>
                    <ul>
                        <li>Eight-semester courses in art history at the advanced</li>
                        <li>At least three (3) seminars</li>
                        <li>At least one semester TA or RA</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Requirements For Degree-->
<!--Start Programmes Offered Area-->
<section id="programmes" class="programmes-offered-area">
    <div class="auto-container">
        <div class="row">
            <div class="col-xl-6">
                <div class="programmes-offered-img-box">
                    <div class="programmes-offered-img-bg"
                         style="background-image: url(/themes/assets/images/resources/programmes-offered-img.jpg);">
                    </div>
                    <div class="programmes-offered-tab-btn">
                        <ul class="tabs-button-box clearfix">
                            <li data-tab="#ba1" class="tab-btn-item active-btn-item">
                                <h3>b.a</h3>
                            </li>
                            <li data-tab="#ma1" class="tab-btn-item">
                                <h3>m.a</h3>
                            </li>
                            <li data-tab="#mphil-phd1" class="tab-btn-item">
                                <h3>m.phil / ph.d</h3>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="tabs-content-box">
                    <!--Tab-->
                    <div class="tab-content-box-item tab-content-box-item-active" id="ba1">
                        <div class="programmes-offered-content-box">
                            <div class="sec-title">
                                <h2>Programmes Offered</h2>
                                <div class="sub-title">
                                    <p>
                                        Trouble that are bound to ensue and equal blame belongs to those who
                                        fail.
                                    </p>
                                </div>
                            </div>
                            <div class="inner-content">
                                <div class="icon">
                                    <span class="icon-mortarboard"></span>
                                </div>
                                <h3>Bachelor of Arts Degree (B.A)</h3>
                                <p>
                                    In a free hour when our power of choice is when nothing our being able to do
                                    what
                                    we
                                    like best.
                                </p>
                                <ul>
                                    <li>
                                        <b>Eligibility</b>: <span>+2 Board exams with 50% or equal</span>
                                    </li>
                                    <li>
                                        <b>Duration</b>: <span>2 Years</span>
                                    </li>
                                    <li>
                                        <b>Strength</b>: <span>30 (Maximum)</span>
                                    </li>
                                    <li>
                                        <b>Start Date</b>: <span>First sem Feb’22, Second Sem Jul’22</span>
                                    </li>
                                </ul>
                                <div class="btns-box">
                                    <a class="btn-one btn-one--style2" href="#">
                                        <span class="txt">
                                            <span class="icon-down-arrow-1"></span>Prospects
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab-content-box-item" id="ma1">
                        <div class="programmes-offered-content-box">
                            <div class="sec-title">
                                <h2>Programmes Offered</h2>
                                <div class="sub-title">
                                    <p>
                                        Trouble that are bound to ensue and equal blame belongs to those who
                                        fail.
                                    </p>
                                </div>
                            </div>
                            <div class="inner-content">
                                <div class="icon">
                                    <span class="icon-mortarboard"></span>
                                </div>
                                <h3>Bachelor of Arts Degree (M.A)</h3>
                                <p>
                                    In a free hour when our power of choice is when nothing our being able to do
                                    what
                                    we
                                    like best.
                                </p>
                                <ul>
                                    <li>
                                        <b>Eligibility</b>: <span>+2 Board exams with 50% or equal</span>
                                    </li>
                                    <li>
                                        <b>Duration</b>: <span>2 Years</span>
                                    </li>
                                    <li>
                                        <b>Strength</b>: <span>30 (Maximum)</span>
                                    </li>
                                    <li>
                                        <b>Start Date</b>: <span>First sem Feb’22, Second Sem Jul’22</span>
                                    </li>
                                </ul>
                                <div class="btns-box">
                                    <a class="btn-one btn-one--style2" href="#">
                                        <span class="txt">
                                            <span class="icon-down-arrow-1"></span>Prospects
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab-content-box-item" id="mphil-phd1">
                        <div class="programmes-offered-content-box">
                            <div class="sec-title">
                                <h2>Programmes Offered</h2>
                                <div class="sub-title">
                                    <p>
                                        Trouble that are bound to ensue and equal blame belongs to those who
                                        fail.
                                    </p>
                                </div>
                            </div>
                            <div class="inner-content">
                                <div class="icon">
                                    <span class="icon-mortarboard"></span>
                                </div>
                                <h3>Bachelor of Arts Degree (m.phil / ph.d)</h3>
                                <p>
                                    In a free hour when our power of choice is when nothing our being able to do
                                    what
                                    we
                                    like best.
                                </p>
                                <ul>
                                    <li>
                                        <b>Eligibility</b>: <span>+2 Board exams with 50% or equal</span>
                                    </li>
                                    <li>
                                        <b>Duration</b>: <span>2 Years</span>
                                    </li>
                                    <li>
                                        <b>Strength</b>: <span>30 (Maximum)</span>
                                    </li>
                                    <li>
                                        <b>Start Date</b>: <span>First sem Feb’22, Second Sem Jul’22</span>
                                    </li>
                                </ul>
                                <div class="btns-box">
                                    <a class="btn-one btn-one--style2" href="#">
                                        <span class="txt">
                                            <span class="icon-down-arrow-1"></span>Prospects
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>
<!--End Programmes Offered Area-->
<!--Start Career Opportunities Area-->
<section id="career" class="career-opportunities-area">
    <div class="container">
        <div class="sec-title text-center">
            <h2>Career Opportunities</h2>
            <div class="sub-title">
                <p>Nothing prevents being able do what we like best every pleasure welcomed</p>
            </div>
        </div>
        <div class="row">
            <!--Start Single Career Opportunities-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-career-opportunities">
                    <a href="#">Antiques Dealer</a>
                </div>
            </div>
            <!--End Single Career Opportunities-->
            <!--Start Single Career Opportunities-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-career-opportunities">
                    <a href="#">Art Consultant</a>
                </div>
            </div>
            <!--End Single Career Opportunities-->
            <!--Start Single Career Opportunities-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-career-opportunities">
                    <a href="#">Art Dealer</a>
                </div>
            </div>
            <!--End Single Career Opportunities-->
            <!--Start Single Career Opportunities-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-career-opportunities">
                    <a href="#">Art Librarian</a>
                </div>
            </div>
            <!--End Single Career Opportunities-->
            <!--Start Single Career Opportunities-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-career-opportunities">
                    <a href="#">Conservator</a>
                </div>
            </div>
            <!--End Single Career Opportunities-->
            <!--Start Single Career Opportunities-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-career-opportunities">
                    <a href="#">Education Curator</a>
                </div>
            </div>
            <!--End Single Career Opportunities-->
            <!--Start Single Career Opportunities-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-career-opportunities">
                    <a href="#">Exhibitions Curator</a>
                </div>
            </div>
            <!--End Single Career Opportunities-->
            <!--Start Single Career Opportunities-->
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="single-career-opportunities">
                    <a href="#">Museum Curator</a>
                </div>
            </div>
            <!--End Single Career Opportunities-->
        </div>

        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="career-opportunities-bottom-text">
                    <p>
                        <span>*</span> Career options that require more education, certifications, expertise,
                        etc.
                        <a href="#">
                            <i class="icon-right-arrow-1"></i>Our Achivers
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section>


<section id="faculty" class="faculty-members-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="faculty-members-title-box">
                    <div class="sec-title">
                        <h2>Department<br> Faculty Memebers</h2>
                        <div class="sub-title">
                            <p>Prevents our being able do what we like best every pleasure.</p>
                        </div>
                    </div>
                    <div class="btns-box">
                        <a class="btn-one btn-one--style2" href="#">
                            <span class="txt">Staff Directory</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="faculty-members-content-box">
                    <!--Start Faculty Members Single Box-->
                    <div class="faculty-members-single-box">
                        <div class="img-box">
                            <img src="/themes/assets/images/resources/faculty-member-1.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h3>Ian Hutson</h3>
                            <p>Ph.D. , University of Chicago</p>
                            <p class="color-thm-base">Chair, Department of Art and Design</p>
                            <div class="mail-info">
                                <div class="icon">
                                    <span class="icon-send"></span>
                                </div>
                                <a href="mailto:yourmail@email.com">hutson@educamb.com</a>
                            </div>
                        </div>
                    </div>
                    <!--End Faculty Members Single Box-->
                    <!--Start Faculty Members Single Box-->
                    <div class="faculty-members-single-box">
                        <div class="img-box">
                            <img src="/themes/assets/images/resources/faculty-member-2.jpg" alt="">
                        </div>
                        <div class="text-box">
                            <h3>Lillian Stella</h3>
                            <p>Ph.D. , Free University Berlin</p>
                            <p class="color-thm-base">Assistant Professor, Department of Art and Design</p>
                            <div class="mail-info">
                                <div class="icon">
                                    <span class="icon-send"></span>
                                </div>
                                <a href="mailto:yourmail@email.com">stella@educamb.com</a>
                            </div>
                        </div>
                    </div>
                    <!--End Faculty Members Single Box-->

                </div>
            </div>

        </div>
    </div>
</section>
<!--End Faculty Members Area-->
<!--Start Find Out Area-->
<section id="essential-links" class="find-out-area">
    <div class="find-out-area__bg"
         style="background-image: url(/themes/assets/images/parallax-background/find-out-area__bg.jpg);">
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <h2>Find Out More About</h2>
            <div class="sub-title">
                <p>Business it will frequently occur that pleasures have to repudiated and accepted.</p>
            </div>
        </div>

        <ul class="row">
            <li class="col-xl-4 col-lg-4 single-find-out-box-colum">
                <div class="single-find-out-box">
                    <div class="inner-title">
                        <h3><a href="#">Academic Support <span class="icon-diagonal-arrow"></span></a></h3>
                    </div>
                    <div class="text">
                        <p>
                            Foresee the pain & trouble that bound
                            ensue equally all blame belongs those
                            in their duty through weakness.
                        </p>
                    </div>
                    <div class="icon-holder">
                        <span class="icon-diagonal-arrow"></span>
                    </div>
                </div>
            </li>
            <li class="col-xl-4 col-lg-4 single-find-out-box-colum">
                <div class="single-find-out-box">
                    <div class="inner-title">
                        <h3><a href="#">Youth Programs <span class="icon-diagonal-arrow"></span></a></h3>
                    </div>
                    <div class="text">
                        <p>
                            Owing to claims of duty or obligations
                            of business it will frequently occur that
                            pleasures have repudiated.
                        </p>
                    </div>
                    <div class="icon-holder">
                        <span class="icon-diagonal-arrow"></span>
                    </div>
                </div>
            </li>
            <li class="col-xl-4 col-lg-4 single-find-out-box-colum">
                <div class="single-find-out-box">
                    <div class="inner-title">
                        <h3><a href="#">Student Success <span class="icon-diagonal-arrow"></span></a></h3>
                    </div>
                    <div class="text">
                        <p>
                            The wise therefore always hold these
                            matters this principle selection reject
                            pleasures secure other greater.
                        </p>
                    </div>
                    <div class="icon-holder">
                        <span class="icon-diagonal-arrow"></span>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</section>
<!--End Find Out Area-->
<!--Start Slogan Style1 Area-->
<section class="slogan-style1-area">
    <div class="auto-container">
        <div class="slogan-style1">
            <div class="slogan-style1__bg1"
                 style="background-image: url(/themes/assets/images/resources/slogan-style1-bg-1.jpg);"></div>
            <div class="slogan-style1__bg2"
                 style="background-image: url(/themes/assets/images/resources/slogan-style1-bg-2.jpg);"></div>
            <div class="container">
                <div class="slogan-style1__inner">
                    <div class="title">
                        <h2><span>Register!..</span> to study in Next Academic Year 2022.</h2>
                    </div>
                    <div class="button-box">
                        <a class="btn-one" href="#"><span class="txt">Register Now</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Slogan Style1 Area-->