
@{
    ViewData["Title"] = "Kariyer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-banner"  style="margin-top:100px;z-index:0 !important" class="inner-banner">
    <img src="/site/assets/images/bg/inner-bannerdot.png" class="inner-bannerdot" alt="image">
    <img src="/site/assets/images/bg/inner-bannerwave.png" class="inner-bannerwave" alt="image">
    <a class="down-arrow-icon" href="#job-list">
        <svg viewBox="0 0 14 26" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8182 18.469L7.24862 25.7462L0.679032 18.469C0.272584 18.0188 0.592074 17.3 1.19862 17.3L6.74862 17.3L6.74862 1C6.74862 0.723857 6.97248 0.5 7.24862 0.5C7.52477 0.5 7.74862 0.723857 7.74862 1L7.74862 17.3L13.2986 17.3C13.9052 17.3 14.2247 18.0188 13.8182 18.469Z" />
        </svg>
    </a>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-md-6">
                <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    Kariyer
                </h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb gap-3">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kariyer</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="job-section pb-120" id="job-list">
    <div class="container">
        <div class="row mt-50">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="justify-content-center "style="margin-top:30px">
                    <div class="col-12">
                        <h3 class="text-center">Üzgünüz, şu anda aktif bir iş veya staj ilanımız bulunmamaktadır.</h3>

                    </div>
                    <hr />
                    <div  class="col-12">
                        <p class="text-center">
                            İlanlarımız açıldığında anında haberdar olabilmek için bizi sosyal medya hesaplarımızdan takip edebilirsiniz.


                            <a target="_blank" href="https://www.facebook.com/kaktusyazilimcom"><i class='bx bxl-facebook'></i></a>
                            <a target="_blank" href="https://www.twitter.com/kaktusyazilim"><i class='bx bxl-twitter'></i></a>
                            <a target="_blank" href="https://www.instagram.com/kaktusyazilimcom"><i class='bx bxl-instagram'></i></a>
                            <a target="_blank" href="https://www.linkedin.com/company/kakt%C3%BCs-yaz%C4%B1l%C4%B1m/"><i class='bx bxl-linkedin'></i></a>

                        </p>

                    </div>
                   

                </div>
                @*<div class="documentation-tab-wrap">
                    
                    <div class="tab-content tab-content-shape" id="pills-tabContent">
                        <div class="tab-pane fade active show" id="pills-one" role="tabpanel" aria-labelledby="pills-one-tab">
                            <div class="row justify-content-center g-4">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon1.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Ui/Ux Designer Wanted</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">1 Day Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon2.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Frontend Developer</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">2 Days Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon3.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">WordPress Developer</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">3 Days Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon1.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Ui/Ux Designer Wanted</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">1 Day Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon2.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Frontend Developer</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">2 Days Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon3.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">WordPress Developer</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">3 Days Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-two" role="tabpanel" aria-labelledby="pills-two-tab">
                            <div class="row justify-content-center g-4">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon1.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Ui/Ux Designer Wanted</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">1 Day Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon2.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Frontend Developer</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">2 Days Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon3.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">WordPress Developer</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">3 Days Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon2.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Frontend Developer</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">2 Days Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-three" role="tabpanel" aria-labelledby="pills-three-tab">
                            <div class="row justify-content-center g-4">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon2.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Frontend Developer</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">2 Days Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon2.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Frontend Developer</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">2 Days Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-four" role="tabpanel" aria-labelledby="pills-four-tab">
                            <div class="row justify-content-center g-4">
                                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-10 col-12">
                                    <div class="jobpost-item hover-border2">
                                        <div class="job-header">
                                            <div class="icon">
                                                <img src="/site/assets/images/icons/job-icon1.svg" alt="image">
                                            </div>
                                            <h4 class="title"><a href="job-details.html">Ui/Ux Designer Wanted</a></h4>
                                        </div>
                                        <div class="job-body">
                                            <p class="para">
                                                We’re hiring Want craft the best social media job vacancy or hiring post?
                                                Get inspired by these examples.
                                            </p>
                                            <ul class="job-meta">
                                                <li><img src="/site/assets/images/icons/location-prm2.svg" alt="image">London, UK</li>
                                                <li><img src="/site/assets/images/icons/time-prm2.svg" alt="image">Full Time</li>
                                            </ul>
                                        </div>
                                        <div class="job-footer">
                                            <div class="eg-btn btn--primary2-light btn--sm">1 Day Ago</div>
                                            <a href="job-details.html" class="eg-btn btn--primary2 btn--sm">Apply Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>