
@{
    ViewData["Title"] = "detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css {

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/site/css/icofont.min.css" />

    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- Owl Carousel Min JS -->
    <script src="/site/images/js/owl.carousel.min.js"></script>
}
@section js {
    <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
}
<section class="single_shop_page">
    <div class="" style="padding: 10px 150px 50px 150px">
        <div class="row">
            <div class="col-lg-9 col-md-12">

                <div class="row">
                    <div class="col-md-3 align-items-center">
                        <img class="card-img-top" src="/site/img/polisan.png" alt="Card image cap">
                        <iconify-icon icon="twemoji:flag-turkey" width="20" height="20" style="padding: 10px;"></iconify-icon>
                        <iconify-icon icon="twemoji:flag-united-kingdom" width="20" height="20" style="padding: 10px;"></iconify-icon>
                        <iconify-icon icon="twemoji:flag-germany" width="20" height="20" style="padding: 10px;"></iconify-icon>
                        <iconify-icon icon="twemoji:flag-saudi-arabia" width="20" height="20" style="padding: 10px;"></iconify-icon>

                    </div>
                    <div class="col-lg-9 col-md-9">
                        <div class="product_decp">
                            <a class="p_cate" href="#">Makine Sanayi</a>
                            <h3>Metkarsan Tarım Makinaları Otomotiv Sanayi ve Dış Ticaret Limited Şirketi</h3>

                            <div class="pro_exps">
                                <p>
                                    Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas est etiam
                                    processus dynamicus, qui sequitur mutationem consuetudium.
                                </p>
                            </div>

                            <div class="single_sp_meta clearfix">
                                <div class="metatext">
                                    <h5>Tags:</h5>
                                    <a href="#" rel="tag">exporter</a>,
                                    <a href="#" rel="tag">makine sanayi</a>,
                                    <a href="#" rel="tag">sprayer</a>,
                                    <a href="#" rel="tag">agri machines</a>,
                                    <a href="#" rel="tag">mowers</a>,
                                    <a href="#" rel="tag">seeders</a>
                                </div>
                                <div class="metatext mt_social">
                                    <h5>Share:</h5>
                                    <a href="#"><i class="twi-facebook-f"></i></a>
                                    <a href="#"><i class="twi-twitter"></i></a>
                                    <a href="#"><i class="twi-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="product_tabarea">
                            <ul class="nav nav-tabs productTabs" id="productTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="whyus-tab" data-toggle="tab" href="#whyus" role="tab" aria-controls="whyus" aria-selected="true">Neden Biz</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " id="descriptions-tab" data-toggle="tab" href="#descriptions" role="tab" aria-controls="descriptions" aria-selected="true">Hakkında</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="certifications-tab" data-toggle="tab" href="#certifications" role="tab" aria-controls="certifications" aria-selected="false">Sertifikalar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="additionalinformation-tab" data-toggle="tab" href="#additionalinformation" role="tab" aria-controls="additionalinformation" aria-selected="false">Ödüller</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="additionalinformation-tab" data-toggle="tab" href="#additionalinformation" role="tab" aria-controls="additionalinformation" aria-selected="false">Dökümanlar</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="additionalinformation-tab" data-toggle="tab" href="#additionalinformation" role="tab" aria-controls="additionalinformation" aria-selected="false">Videolar</a>
                                </li>

                            </ul>
                            <div class="tab-content productTabContent" id="productTabContent">
                                <div class="tab-pane fade show active" id="whyus" role="tabpanel" aria-labelledby="whyus-tab">
                                    <div class="descriptionContent">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard d  </p>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="whyus" role="tabpanel" aria-labelledby="whyus-tab">
                                    <div class="descriptionContent">
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="additionalinformation" role="tabpanel" aria-labelledby="additionalinformation-tab">
                                    <div class="adinfo">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <th>Weight:</th>
                                                    <td>0.15 kg</td>
                                                </tr>
                                                <tr>
                                                    <th>Dim:</th>
                                                    <td>15 x 15 x 10 cm</td>
                                                </tr>
                                                <tr>
                                                    <th>Color:</th>
                                                    <td>Black, Green, Mixed, Red, White</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="certifications" role="tabpanel" aria-labelledby="certifications-tab">
                                    <div class="adinfo">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="single-default-inner-news">
                                                    <div class="news-image">
                                                        <img src="/site/img/sertifika.jpg" alt="image">
                                                    </div>

                                                    <div class="news-content">
                                                        <h3>İş Güvenliği Sertifikamız</h3>


                                                    </div>

                                                    <a href="#" class="link-overlay"></a>

                                                    <div class="tags bg-2">
                                                        <a href="#">2018</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <div class="single-default-inner-news">
                                                    <div class="news-image">
                                                        <img src="/site/img/sertifika.jpg" alt="image">
                                                    </div>

                                                    <div class="news-content">
                                                        <h3>How to Customize your PHP Footer</h3>


                                                    </div>

                                                    <a href="#" class="link-overlay"></a>

                                                    <div class="tags bg-3">
                                                        <a href="#">2020</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="realtedProarea">
                            <h3>Öne Çıkan Ürünler</h3>
                            <div class="pro_realtedSlider owl-carousel">
                              
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <img src="https://cdn.turkishexporter.com.tr/storage/images/products/13b3198d-bc9e-46bd-9a19-053342546a69.png" alt="" />
                                        <div class="flash_lavel">
                                            <p class="new">New</p>
                                        </div>
                                        <div class="product_meta">
                                            <a href="images/shop/4.jpg" data-rel="lightcase:myCollection:slideshow" class="popup_img"><i class="twi-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product_details">
                                       
                                        <h3><a href="#">Tablet Red EliteBook</a></h3>
                                        <div class="product_price clearfix">
                                            <span class="price">
                                                <span>Hydraulic sliding drum mower</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="single_product">
                                    <div class="product_thumb">
                                        <img src="https://cdn.turkishexporter.com.tr/storage/images/products/e6e2e33c-e52c-411a-b40b-0ac330cb91a3.png" alt="" />
                                        <div class="flash_lavel">
                                            <p class="new">New</p>
                                        </div>
                                        <div class="product_meta">
                                            <a href="images/shop/4.jpg" data-rel="lightcase:myCollection:slideshow" class="popup_img"><i class="twi-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product_details">
                                       
                                        <h3><a href="#">Tablet Red EliteBook</a></h3>
                                        <div class="product_price clearfix">
                                            <span class="price">
                                                <span>Drum mower 250 cm</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-12 ">

                <div class="card pt-3  shadow rounded" style="background:#2E3192">
                    <div class="card-body shadow text-white d-flex justify-content-center pt-2">
                        <h4 style="color:white">Metkarsan Tarım Makinaları</h4>
                    </div>
                </div>
                <br>
                <div class="card shadow mb-5 d-flex justify-content-center" style="width: 100%rem; ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item d-flex justify-content-center"><a href="#" style="margin-top: 5px;"><iconify-icon icon="mdi:company" width="30" height="25" style="padding-right: 10px;"></iconify-icon><b></b> <span style="margin-left: 2px!important;margin:auto; padding-top: 5px;">Showroom</span></a></li>
                      

                    </ul>
                </div>

                <div class="card pt-3  shadow rounded" style="background:#2E3192">
                    <div class="card-body shadow text-white d-flex justify-content-center pt-2">
                        <h4 style="color:white">Hemen İletişime Geç</h4>
                    </div>
                </div>
                <br>
                <div class="card shadow mb-5 d-flex justify-content-center" style="width: 100%rem; ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item d-flex justify-content-center"><a href="#" style="margin-top: 5px;"><iconify-icon icon="logos:google-gmail" width="30" height="25" style="padding-right: 10px;"></iconify-icon><b></b> <span style="margin-left: 2px!important;margin:auto; padding-top: 5px;">Mail Gönder!</span></a></li>
                        <li class="list-group-item d-flex justify-content-center"><a href="#"><iconify-icon icon="teenyicons:appointments-outline" width="35" height="30" style="color:rgb(14, 86, 108);padding-right:15px ;padding-top: -15px;"></iconify-icon><b></b> <span> Randevu Al!</span></a></li>
                        <li class="list-group-item d-flex justify-content-center"> <a href="#"><iconify-icon icon="akar-icons:zoom-fill" width="40" height="35" style="color:rgb(13, 145, 185);padding-right:12px ;"></iconify-icon><b></b> <span>Görüntülü Konferans Talep Et!</span></a></li>

                    </ul>
                </div>
                <div class="card border-0" style="width:100%; height:550px; transition: height 0.3s ease 0s; display: block; ">
                    <ul class="list-group list-group-flush d-flex justify-content-center  shadow p-3 mb-5 bg-white rounded bg-body-tertiary rounded">
                        <li class="list-group-item text-danger mt-0 ">
                            <img src="/site/img/polisan.png">

                        </li>
                        <li class="list-group-item text-danger mt-3 pb-4">
                            <span>Bulunduğu Sektör</span>
                            <p> Boya Üreticiliği </p>
                        </li>
                        <li class="list-group-item text-danger mt-3 pb-4">
                            <span>Çalışan Sayısı</span>
                            <p> 5-15 çalışan </p>
                        </li>
                        <li class="list-group-item text-danger mt-3 pb-4">
                            <span>Lokasyon</span>
                            <p> İstanbul Türkiye </p>
                        </li>
                        <li class="list-group-item text-danger mt-3 pb-4">
                            <span>Kuruluş Tarihi</span>
                            <p> 12 Mart 1980 </p>
                        </li>
                        <li class="list-group-item text-danger mt-3 align-items-center">
                            <span>Web Adresi</span>
                            <p><a href="https://www.polisan.com.tr/">www.polisan.com.tr </a></p>
                        </li>
                    </ul>
                </div>

            </div>


        </div>

    </div>
</section>

