
@{
    ViewData["Title"] = "Çerez Politikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-sec">
    <div class="text">
        <div class="container" style="margin-top:50px">
            <h2>Cookie-Richtlinie</h2>
            <hr />
            <h3>Was sind Cookies?</h3>

            <p>Webseiten, die Sie besuchen, speichern kleine Informationen auf Ihrem Computer oder Telefon und lesen diese Informationen bei einem erneuten Besuch. Diese kleinen Dateien werden als Cookies (auf Deutsch: "Kekse") bezeichnet. Cookies dienen im Allgemeinen dazu, Ihr Surferlebnis zu verbessern und Webseiten zu personalisieren. Zum Beispiel speichert eine Seite, auf der Sie die Option "Angemeldet bleiben" auswählen, ein Cookie, das Ihren Benutzernamen (oder eine spezielle Kennnummer) enthält. Nur die Seite, die das Cookie erstellt hat, kann es lesen. Die Dauer der Speicherung eines Cookies wird ebenfalls von der Seite festgelegt.</p>

            <h3>Verwendung von Cookies</h3>

            <p><strong>COOKIE ("Keks")</strong></p>

            <p>Wir verwenden Cookies, damit Sie unsere Website (www.vermoegenscheck24.de) optimal nutzen und Ihre Nutzererfahrung verbessern können. Wenn Sie unsere Website betreten, wird Ihnen die Frage gestellt, ob Sie die Verwendung von Cookies akzeptieren möchten. Nachdem Sie die Option 'Akzeptieren' gewählt haben, werden Cookies aktiv. Sollten Sie Ihre Meinung später ändern und keine Cookies verwenden wollen, können Sie diese jederzeit in den Einstellungen Ihres Browsers löschen oder blockieren. Bitte beachten Sie jedoch, dass dies Ihre Nutzung unserer Website beeinträchtigen kann. Solange Sie Ihre Cookie-Einstellungen im Browser nicht ändern, werden Cookies auf dieser Seite weiter verwendet. Die Zwecke und Dauer der Speicherung der Cookies sind unten angegeben. Für die Nutzung der auf unserer Website angebotenen Dienste teilen Sie uns direkt oder indirekt einige Informationen und Daten mit. Diese Informationen sind persönliche Daten, die Sie bei der Registrierung auf der Website angegeben haben (Name, E-Mail-Adresse, Telefon usw.), oder Daten, die wir während Ihrer Nutzung der Website sammeln (IP-Adresse, Gerät, Standort und Browserinformationen, Navigations- und Interaktionsinhalt, Datum und Verbindungsdauer). Wir legen größten Wert auf den Schutz Ihrer Informationen und Daten. Unsere Website teilt Ihre Cookie-Daten, die auf unserem Server gespeichert sind, nicht mit Dritten. Die von externen Diensten (z. B. Live-Chat-Plugin, Facebook-Plugin, YouTube-Video, Twitter-Inhalt usw.) gespeicherten Cookie-Daten liegen in der Verantwortung dieser externen Dienste. Dazu können Sie unsere Seiten 'Datenschutzerklärung', 'KVKK' und 'Datenschutzrichtlinie' einsehen. (Passen Sie diese Seiten nach Bedarf an)</p>

            <h3>Auf der Website verwendete Cookies</h3>

            <p><strong>Minderjährige</strong> (Entfernen oder hinzufügen je nach Inhalt Ihrer Website)</p>

            <p>Wenn Sie unter 18 Jahre alt sind, sollten Sie die Website in Begleitung Ihrer Eltern besuchen. Ohne die Begleitung Ihrer Eltern sollten Sie diese Website nicht nutzen und keine persönlichen Daten teilen.</p>

            <p>Was sind Cookies und warum werden sie verwendet?</p>

            <p>Cookies sind kleine Textdateien (Daten), die von den Websites, die Sie besuchen, über Browser auf Ihrem Gerät oder Netzserver gespeichert werden.</p>

            <ul>
                <li>Die Funktionalität und Leistung der Website zu verbessern und dadurch die angebotenen Dienste zu optimieren,</li>
                <li>Die Website zu verbessern, neue Funktionen auf der Website anzubieten und die angebotenen Funktionen gemäß Ihren Präferenzen zu personalisieren,</li>
                <li>Die rechtliche und geschäftliche Sicherheit der Website für Sie und unser Unternehmen (oder unser Geschäft, unsere Website usw.) zu gewährleisten.</li>
            </ul>

            <p>Arten von Cookies</p>

            <p>Cookies, deren Hauptzweck es ist, den Benutzern das Leben zu erleichtern, lassen sich im Wesentlichen in vier Hauptgruppen einteilen:</p>

            <ul>
                <li><strong>Sitzungscookies:</strong> Cookies, die es ermöglichen, Informationen zwischen den Webseiten zu übertragen und vom Benutzer eingegebene Informationen systematisch zu speichern, und die für die ordnungsgemäße Funktion der Website erforderlich sind.</li>
                <li><strong>Leistungs-Cookies:</strong> Cookies, die Informationen über die Häufigkeit der Besuche, mögliche Fehlermeldungen, die vom Benutzer auf der Website verbrachte Zeit und die Art und Weise der Nutzung der Seite sammeln, und die zur Verbesserung der Website-Leistung verwendet werden.</li>
                <li><strong>Funktionale Cookies:</strong> Cookies, die die vom Benutzer zuvor ausgewählten Optionen speichern, um den Nutzern Komfort zu bieten, und die erweiterte Funktionen der Website bereitstellen.</li>
                <li><strong>Werbe- und Drittanbieter-Cookies:</strong> Cookies von Drittanbietern, die die Nutzung bestimmter Funktionen auf der Website und die Verfolgung von Werbung (Anzeigen) ermöglichen.</li>
            </ul>

            <p>Verwendungszwecke der Cookies</p>

            <p>Die von www.vermoegenscheck24.de verwendeten Cookies haben folgende Verwendungszwecke:</p>

            <ul>
                <li><strong>Verwendung für Sicherheitszwecke:</strong> vermoegenscheck24.de kann Cookies verwenden, die die Nutzung der Funktionen auf dieser Website ermöglichen oder unregelmäßiges Verhalten erkennen, um die Verwaltung und Sicherheit seiner Systeme zu gewährleisten.</li>
                <li><strong>Verwendung für Funktionalität:</strong> vermoegenscheck24.de kann Cookies verwenden, die die Nutzung der Systeme erleichtern und benutzerspezifische Nutzungsmöglichkeiten bieten, indem sie die Informationen und vorherigen Einstellungen der Benutzer speichern.</li>
                <li><strong>Verwendung für Leistungszwecke:</strong> vermoegenscheck24.de kann Cookies verwenden, die die Interaktion mit gesendeten Nachrichten und das Verhalten der Benutzer bewerten und analysieren, um die Leistung seiner Systeme zu verbessern und zu messen.</li>
                <li><strong>Verwendung für Werbezwecke:</strong> vermoegenscheck24.de kann Cookies verwenden, die Werbeinhalte an die Interessen der Nutzer anpassen, um über eigene oder fremde Systeme relevante Inhalte zu liefern und deren Effektivität zu messen oder die Klickrate zu analysieren.</li>
            </ul>

            <h3>Kontaktformular und die Verarbeitung Ihrer Daten</h3>
            <p>Für die Nutzung des Kontaktformulars auf unserer Website werden bestimmte persönliche Daten von Ihnen abgefragt. Diese umfassen:</p>
            <ul>
                <li>Ihr Name und Nachname</li>
                <li>Ihre Telefonnummer</li>
                <li>Ihre E-Mail-Adresse</li>
                <li>Die Höhe des zu bearbeitenden Betrags</li>
                <li>Der Grund für die Kontaktaufnahme</li>
                <li>Ihre Nachricht</li>
            </ul>
            <p>Diese Informationen werden benötigt, um Ihre Anfrage zu bearbeiten und Sie im Bedarfsfall zu kontaktieren. Die Verarbeitung dieser Daten erfolgt gemäß unserer Datenschutzerklärung und ausschließlich zum Zwecke der Bearbeitung Ihrer Anfrage.</p>

            <p>Cookies auf der Website dienen der Erkennung verdächtiger Aktivitäten, der Gewährleistung der Sicherheit, der Verbesserung der Funktionalität und Leistung entsprechend den Präferenzen der Besucher, der Verbesserung und Personalisierung der angebotenen Dienstleistungen und Produkte sowie der Vereinfachung des Zugangs zu diesen Dienstleistungen und Produkten und der Erfüllung der rechtlichen Verpflichtungen der Website. Außerdem können Werbe-Cookies und Informationsaustausch mit Drittanbietern verwendet werden, um Besucher mit umfassenderen Dienstleistern in Kontakt zu bringen. (Diesen letzten Abschnitt entfernen, wenn auf der Website keine Werbung geschaltet wird)</p>

            <p>Welche persönlichen Daten werden durch Cookies verarbeitet?</p>

            <p>Persönliche Daten wie Identität (Name, Nachname, Spitzname, Geburtsdatum usw.) und Kontaktdaten (Wohnadresse, E-Mail-Adresse, Telefonnummer, IP-Adresse, Browserinformationen, Geräteinformationen, Standortinformationen usw.) werden automatisch oder nicht automatisch durch Cookies, die auf der Website vorhanden sind, und durch Software oder manchmal auch von Drittanbietern wie Werbenetzwerken, Analysesoftware, Such- und Volumeninformationsanbietern und verwandten Technologien gesammelt, gespeichert, aktualisiert und rechtmäßig verarbeitet, solange dies im Rahmen unserer Bedingungen und Dienstleistungsverträge und für die Dauer des Vertrags erforderlich ist.</p>

            <p>Verwendung von Cookies für Werbezwecke</p>

            <p>(Wenn keine Werbung auf der Website geschaltet wird, diesen Abschnitt entfernen)</p>

            <p>www.vermoegenscheck24.de verwendet das Werbesystem Google Adsense (oder das von Ihnen verwendete System, alle einzeln aufführen). Dieses System verwendet das <a href="https://www.disclaimertemplate.com/doubleclick-dart-cookie/" target="_blank">DoubleClick DART</a> Cookie, um Werbung auf Publisher-Websites anzuzeigen, die AdSense-Werbung enthalten.</p>

            <p>Google, als Drittanbieter, verwendet Cookies, um Werbung auf unserer Website zu schalten. Durch die Verwendung dieser Cookies kann Google Anzeigen für Ihre Nutzer bereitstellen, die auf deren Besuchen Ihrer Website und anderer Websites im Internet basieren. Sie können den Gebrauch des DART-Cookies deaktivieren, indem Sie die Seite <a href="http://www.google.com/privacy_ads.html" target="_blank">Google-Werbung und Datenschutz</a> besuchen.</p>

            <p>Google verwendet Drittanbieter-Werbefirmen, um Werbung bereitzustellen, wenn Sie unsere Website besuchen. Diese Unternehmen können Informationen (ausgenommen Name, Adresse, E-Mail-Adresse oder Telefonnummer) über Ihre Besuche dieser und anderer Websites nutzen, um Werbung für Produkte und Dienstleistungen, die Sie interessieren könnten, bereitzustellen. Weitere Informationen über diese Praktiken und darüber, welche Wahlmöglichkeiten Sie haben, um zu verhindern, dass diese Informationen von diesen Unternehmen verwendet werden, finden Sie im Anhang A des Dokuments <a href="http://www.networkadvertising.org/sites/default/files/imce/principles.pdf" target="_blank">NAI Self-Regulatory principles for publishers (PDF)</a>.</p>

            <p>Cookies kontrollieren und löschen</p>

            <p>Um Ihre Cookie-Präferenzen zu ändern oder Cookies zu blockieren oder zu löschen, ändern Sie einfach die Einstellungen Ihres Browsers. Viele Browser bieten Ihnen die Möglichkeit, Cookies zu akzeptieren oder abzulehnen, nur bestimmte Arten von Cookies zu akzeptieren oder eine Benachrichtigung anzuzeigen, wenn eine Website versucht, ein Cookie auf Ihrem Gerät zu speichern. Es ist auch möglich, bereits in Ihrem Browser gespeicherte Cookies zu löschen. Die Cookie-Kontroll- oder Löschmethoden können je nach verwendetem Browser variieren. Unten finden Sie Anweisungen zum Zulassen, Blockieren oder Löschen von Cookies für einige beliebte Browser.</p>

            <p>Die Methode zur Änderung der Cookie-Präferenzen hängt vom Browsertyp ab und kann jederzeit beim jeweiligen Dienstanbieter abgefragt werden.</p>

            <p>
                <strong>Wie kann die Verwendung von Cookies verhindert werden?</strong> Die Verwendung von Cookies verbessert die Dienste der Website, aber wenn Sie es wünschen, können Sie die Verwendung von Cookies verhindern. Beachten Sie jedoch, dass die Website dann möglicherweise nicht vollständig funktioniert und Sie nicht alle Funktionen nutzen können. Um die Verwendung von Cookies zu verhindern, müssen Sie die Einstellungen Ihres Internetbrowsers ändern. Diese Änderungen hängen von dem verwendeten Gerät und Browser ab. Unten finden Sie Informationen dazu, wie Sie die Verwendung von Cookies in verschiedenen Internetbrowsern verhindern können:<br />
                <br />
                &bull; <strong>Internet Explorer</strong>
            </p>

            <ol>
                <li>Öffnen Sie den Desktop auf Ihrem Computer und klicken Sie auf das Symbol "Internet Explorer" in der Taskleiste.</li>
                <li>Klicken Sie auf die Schaltfläche "Extras" und dann auf "Internetoptionen".</li>
                <li>Klicken Sie auf die Registerkarte "Datenschutz" und bewegen Sie den Schieberegler unter den Einstellungen nach oben, um alle Cookies zu blockieren, und klicken Sie auf "OK".</li>
            </ol>

            <p>&bull; <strong>Microsoft Edge</strong></p>

            <ol>
                <li>Klicken Sie in Ihrem Microsoft Edge-Browser auf das Symbol mit den drei Punkten oben rechts und gehen Sie zu "Einstellungen".</li>
                <li>Wählen Sie im neuen Fenster "Zu löschende Elemente auswählen" und wählen Sie die Cookies, die Sie löschen möchten.</li>
                <li>Hier finden Sie viele Abschnitte. Sie können die gewünschten Cookies auswählen und mit dem Löschen beginnen.</li>
            </ol>

            <p>&bull; <strong>Google Chrome</strong></p>

            <ol>
                <li>Öffnen Sie <a href="https://www.google.com/intl/de_de/chrome/" target="_blank">Google Chrome</a> auf Ihrem Computer.</li>
                <li>Klicken Sie oben rechts auf "Weitere Einstellungen".</li>
                <li>Klicken Sie unten auf "Erweitert".</li>
                <li>Klicken Sie unter "Datenschutz und Sicherheit" auf "Inhaltseinstellungen".</li>
                <li>Klicken Sie dann auf "Cookies".</li>
                <li>Suchen Sie unter "Alle Cookies und Website-Daten" nach dem Namen der Website, die Sie eingegeben haben.</li>
                <li>Klicken Sie auf das Symbol "Entfernen" rechts von der Website.</li>
            </ol>

            <p>&bull; <strong>Mozilla Firefox</strong></p>

            <ol>
                <li>Öffnen Sie Ihren Firefox-Browser, klicken Sie auf die Schaltfläche "Menü" und gehen Sie zu "Einstellungen".</li>
                <li>Wählen Sie das "Datenschutz & Sicherheit"-Panel und gehen Sie zum Abschnitt "Verlauf".</li>
                <li>Ändern Sie die Firefox-Einstellung auf "Benutzerdefin

        </div>
        <a href="/contact" class="btn mt-5" style="position:relative; top:30px;">Weitere Informationen</a>
    </div>

