
@{
    ViewData["Title"] = "cerez";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!--Start breadcrumb area paroller-->
<section class="breadcrumb-style4-area">
    <div class="parallax-scene parallax-scene-1">
        <div data-depth="0.20" class="parallax-layer">
            <div class="breadcrumb-style4-area-shape1">
                <img src="/themes/manager/assets/images/instructor/shape/breadcrumb-style4-area-shape-1.png" alt="">
            </div>
        </div>
    </div>
    <div class="breadcrumb-style4-area-shape3 wow slideInUp" data-wow-delay="500ms" data-wow-duration="4500ms">
        <img class="float-bob-y" src="/themes/manager/assets/images/instructor/shape/breadcrumb-style4-area-shape-3.png" alt="">
    </div>
    <div class="big-text wow slideInRight" data-wow-delay="1500ms" data-wow-duration="5500ms">
        @Model.Translate["Cookie"]
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="breadcrumb-style4__content">
                    <div class="breadcrumb-style4-area-shape2 wow slideInUp" data-wow-delay="500ms"
                         data-wow-duration="4500ms">
                        <img class="float-bob"
                             src="/themes/manager/assets/images/instructor/shape/breadcrumb-style4-area-shape-2.png" alt="">
                    </div>
                    <div class="title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1500">
                        <h2>@Model.Translate["Cookie"]</h2>
                    </div>
                    <div class="breadcrumb-menu-style4">
                        <ul>
                            <li><a href="/">@Model.Translate["Home"]</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li class="active">@Model.Translate["Cookie"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End breadcrumb area-->


<section class="blog-details-page" style="padding: 90px 0 90px !important">
    <div class="container">
        <div class="row">

            <div class="col-xl-12">
                @if (Model.CurrentLanguage.Id == 1)
                {
                    <div class="blog-details-page__content">
                        <div class="blog-details-page__content__inner">


                            <h2>&#xC7;erez Politikas&#x131;</h2>
                            <hr />
                            <h3>&Ccedil;erez Nedir?</h3>

                            <p>Ziyaret ettiğiniz web siteleri, bilgisayarınıza veya telefonunuza k&uuml;&ccedil;&uuml;k bilgiler kaydedip, daha sonra aynı siteyi ziyaret ettiğinizde bu bilgileri okuyabilirler. Bu k&uuml;&ccedil;&uuml;k bilgilerin kaydedildiği dosyalara &ccedil;erez veya tanımlama bilgisi (İngilizcesi: cookie) denir. &Ccedil;erezler genellikle internette gezinti deneyiminizi iyileştirmeye ve siteleri kişiselleştirmeye yarar. &Ouml;rneğin bir siteye giriş yaparken &ldquo;beni hatırla&rdquo; se&ccedil;eneğini işaretlerseniz o site, kullanıcı adınızı (veya &ouml;zel bir kimlik numarasını) i&ccedil;eren bir &ccedil;erezi tarayıcınıza kaydeder. &Ccedil;erezleri yalnızca onları oluşturan site okuyabilir. &Ccedil;erezin ne kadar s&uuml;reyle saklanacağını da site belirler.</p>

                            <h3>&Ccedil;erez Kullanımı</h3>

                            <p><strong>&Ccedil;EREZ (&ldquo;COOKIE&rdquo;)</strong></p>

                            <p>İnternet sitemizden (www.uplifeacademy.com) en verimli şekilde faydalanabilmeniz ve kullanıcı deneyiminizi geliştirebilmek i&ccedil;in Cookie kullanıyoruz. Web sitemize giriş yaptığınız zaman, sizlere, Cookie kullanımı kabul edip etmediğinize dair bir soru sorulmaktadır. &#39;Kabul Et&#39; se&ccedil;eneğini se&ccedil;tikten sonra Cookie&#39;ler aktif olacaktır. Sonradan fikrinizi değiştirirseniz ve Cookie kullanılmasını tercih etmezseniz tarayıcınızın ayarlarından Cookie&rsquo;leri her zaman silebilir ya da engelleyebilirsiniz. Ancak bunun internet sitemizi kullanımınızı etkileyebileceğini hatırlatmak isteriz. Tarayıcınızdan Cookie ayarlarınızı değiştirmediğiniz s&uuml;rece bu sitede Cookie&#39;ler kullanılmaya devam edecektir. Cookie&#39;lerin hangi ama&ccedil;la kullanıldığı ve ne kadar s&uuml;re depolandığı aşağıda belirtilmektedir. Sitemizde yer alan servislerin kullanımı i&ccedil;in bizimle doğrudan veya dolaylı olarak bazı bilgi ve veriler paylaşmaktasınız. Bu bilgiler siteye kayıt olurken verdiğiniz kişisel bilgiler (isim, e-posta adresi, telefon gibi) veya siteyi kullanımınız (iletişim formunu kullanırken, yorum yaparken vb.) esnasında topladığımız bilgilerdir (IP, cihaz, konum ve tarayıcı bilgileri, gezinti ve etkileşim i&ccedil;eriği, tarih ve bağlantı s&uuml;resi gibi veriler). Bilgi ve verilerinizi saklama konusunda azami &ouml;zeni g&ouml;stermekteyiz. Web sitemiz, sunucumuzda depolanan Cookie verilerinizi 3. parti kişiler ile paylaşılmamaktadır. Sitede bulunan harici hizmetler (Canlı Destek eklentisi, Facebook eklentisi, YouTube videosu, Twitter i&ccedil;eriği vb.) tarafından depolanan Cookie verileriniz ise harici hizmetlerin sorumluluğundadır. Bunun i&ccedil;in; &#39;<a href="https://nesrinozkaya.com/cerez-politikasi-ornegi.html#">Aydınlatma Metni</a>&#39;, &#39;<a href="https://nesrinozkaya.com/cerez-politikasi-ornegi.html#">KVKK</a>&#39; ve &#39;<a href="https://nesrinozkaya.com/cerez-politikasi-ornegi.html#">Gizlilik Politikası</a>&#39; sayfalarımıza g&ouml;z atınız. (Kendinize g&ouml;re d&uuml;zenleyiniz)</p>

                            <h3>İnternet Sitesinde Kullanılan &Ccedil;erezler</h3>

                            <p><strong>Reşit Olmayanlar</strong>&nbsp;(Sitenizin i&ccedil;eriğine g&ouml;re ekleyin/kaldırın)</p>

                            <p>18 yaşın altındaysanız Web Sitesi&#39;ni ebeveynlerinizin refakati altında ziyaret etmeniz gerekmektedir. Ebeveynlerinizin refakati olmadan bu Web Sitesi&#39;ni kullanmamanız ve hi&ccedil;bir kişisel verinizi paylaşmamanız gerekmektedir.</p>

                            <p>&Ccedil;erez Nedir ve Neden Kullanılmaktadır?</p>

                            <p>&Ccedil;erezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza veya ağ sunucusuna depolanan k&uuml;&ccedil;&uuml;k metin (veri) dosyalarıdır.</p>

                            <ul>
                                <li>İnternet Sitesinin işlevselliğini ve performansını arttırmak yoluyla sizlere sunulan hizmetleri geliştirmek,</li>
                                <li>İnternet Sitesini iyileştirmek, İnternet Sitesi &uuml;zerinden yeni &ouml;zellikler sunmak ve sunulan &ouml;zellikleri sizlerin tercihlerine g&ouml;re kişiselleştirmek,</li>
                                <li>İnternet Sitesinin, sizin ve şirketimizin (veya işletmemizin, sitemizin vb.) hukuki ve ticari g&uuml;venliğinin teminini sağlamak.</li>
                            </ul>

                            <p>&Ccedil;erez T&uuml;rleri</p>

                            <p>Ana kullanım amacı kullanıcılara kolaylık sağlamak olan &ccedil;erezler, temel olarak d&ouml;rt ana grupta toplanmaktadır:</p>

                            <ul>
                                <li><strong>Oturum &Ccedil;erezleri:</strong>&nbsp;İnternet sayfaları arasında bilgi taşınması ve kullanıcı tarafından girilen bilgilerin sistemsel olarak hatırlanması gibi &ccedil;eşitli &ouml;zelliklerden faydalanmaya olanak sağlayan &ccedil;erezlerdir ve internet sitesine ait fonksiyonların d&uuml;zg&uuml;n bir şekilde işleyebilmesi i&ccedil;in gereklidir.</li>
                                <li><strong>Performans &Ccedil;erezleri:</strong>&nbsp;Sayfaların ziyaret edilme frekansı, olası hata iletileri, kullanıcıların ilgili sayfada harcadıkları toplam zaman ile birlikte siteyi kullanım şekilleri konularında bilgi toplayan &ccedil;erezlerdir ve internet sitesinin performansını arttırma amacıyla kullanılmaktadır.</li>
                                <li><strong>Fonksiyonel &Ccedil;erezler:</strong>&nbsp;Kullanıcıya kolaylık sağlanması amacıyla &ouml;nceden se&ccedil;ili olan se&ccedil;eneklerin hatırlatılmasını sağlayan &ccedil;erezlerdir ve internet sitesi kapsamında kullanıcılara gelişmiş internet &ouml;zellikleri sağlanmasını hedeflemektedir.</li>
                                <li><strong>Reklam ve &Uuml;&ccedil;&uuml;nc&uuml; Taraf &Ccedil;erezleri:</strong>&nbsp;&Uuml;&ccedil;&uuml;nc&uuml; parti tedarik&ccedil;ilere ait &ccedil;erezlerdir ve internet sitesindeki bazı fonksiyonların kullanımına ve reklam takibinin yapılmasına (uygun reklam g&ouml;sterilmesine) olanak sağlamaktadır.</li>
                            </ul>

                            <p>&Ccedil;erezlerin Kullanım Ama&ccedil;ları</p>

                            <p>www.uplifeacademy.com&nbsp;tarafından kullanılmakta olan &ccedil;erezlere ait kullanım ama&ccedil;ları aşağıdaki gibidir:</p>

                            <ul>
                                <li><strong>G&uuml;venlik ama&ccedil;lı kullanımlar:</strong>&nbsp; uplifeacademy.com, sistemlerinin idaresi ve g&uuml;venliğinin sağlanması amacıyla, bu sitedeki fonksiyonlardan yararlanmayı sağlayan veyahut d&uuml;zensiz davranışları tespit eden &ccedil;erezler kullanabilmektedir.</li>
                                <li><strong>İşlevselliğe y&ouml;nelik kullanımlar:</strong>&nbsp; uplifeacademy.com, sistemlerinin kullanımını kolaylaştırmak ve kullanıcı &ouml;zelinde kullanım &ouml;zellikleri sağlamak amacıyla, kullanıcıların bilgilerini ve ge&ccedil;miş se&ccedil;imlerini hatırlatan &ccedil;erezler kullanabilmektedir.</li>
                                <li><strong>Performansa y&ouml;nelik kullanımlar:</strong>&nbsp; uplifeacademy.com, sistemlerinin performansının artırılması ve &ouml;l&ccedil;&uuml;lmesi amacıyla, g&ouml;nderilen iletilerle olan etkileşimi ve kullanıcı davranışlarını değerlendiren ve analiz eden &ccedil;erezler kullanabilmektedir.</li>
                                <li><strong>Reklam ama&ccedil;lı kullanımlar:</strong>&nbsp; uplifeacademy.com, kendine veya &uuml;&ccedil;&uuml;nc&uuml; taraflara ait sistemlerin &uuml;zerinden kullanıcıların ilgi alanları kapsamında reklam ve benzeri i&ccedil;eriklerin iletilmesi amacıyla, bu reklamların etkinliğini &ouml;l&ccedil;en veya tıklanma durumunu analiz eden &ccedil;erezler kullanabilmektedir.</li>
                            </ul>

                            <p>Web sitesine y&ouml;nelik ş&uuml;pheli eylemlerin tespiti ve gerekli g&uuml;venliğin sağlanması, ziyaret&ccedil;ilerin tercihleri doğrultusunda web sitesinin işlevsellik ve performansın artırılması, web sitesinde sunulan hizmetlerin ve &uuml;r&uuml;nlerin geliştirilmesi ve kişiselleştirilmesiyle, bu hizmetlere ve &uuml;r&uuml;nlere ulaşımın kolaylaştırılması, web sitesinin hukuki sorumluluklarının yerine getirilmesi ama&ccedil;lı &ccedil;erezler kullanmaktadır. Ayrıca, web sitesi ziyaret&ccedil;ilerini daha geniş kapsamlı hizmet sağlayıcılar ile buluşturulabilmesi amacıyla reklam &ccedil;erezleri ve &uuml;&ccedil;&uuml;nc&uuml; taraflarla bilgi paylaşımı da s&ouml;z konusudur. (son kısmı sitenizde reklam yayınlamıyorsanız silebilirsiniz)</p>

                            <p>&Ccedil;erezler Yoluyla İşlenen Kişisel Veriler Nelerdir?</p>

                            <p>Kişinin kimliği (isim, soy isim, lakap, doğum tarihi vb.) ve iletişim (ikamet adresi, e-posta adresi, telefon numarası, IP adresi, tarayıcı bilgisi, bilgisayar bilgisi, konum bilgisi vb.) bilgileri tarafımızca, web sitesinde mevcut &ccedil;erezler vasıtasıyla, otomatik veya otomatik olmayan y&ouml;ntemler veya yazılımlarla ve bazen de; reklam ağları, analitik yazılımlar, aranma ve hacim bilgisi sağlayıcıları, ilgili yazılımlar veya teknolojiler gibi &uuml;&ccedil;&uuml;nc&uuml; taraflar tarafından elde edilerek, kaydedilerek, depolanarak ve g&uuml;ncellenerek, aramızdaki şartlar ve hizmetler s&ouml;zleşmesi &ccedil;er&ccedil;evesinde ve s&uuml;resince, kişisel veri işleme şartlarına bağlı olarak hukuka uygun şekilde işlenecektir.</p>

                            <p>Reklam Ama&ccedil;lı &Ccedil;erez Kullanımı</p>

                            <p>(Sitede reklam yayınlanmıyorsa bu kısmı silebilirsiniz)</p>

                            <p>www.uplifeacademy.com, Google Adsense (veya hangi sistemi kullanıyorsanız, hepsini tek tek ayrı ayrı belirtin) reklam sistemi/sistemlerini kullanmaktadır. Bu sistem Google tarafından i&ccedil;erik sağlamak i&ccedil;in AdSense reklamlarının g&ouml;r&uuml;nt&uuml;lendiği yayıncı web sitelerinde sunulan reklamlarda kullanalan&nbsp;<a href="https://www.disclaimertemplate.com/doubleclick-dart-cookie/" target="_blank">DoubleClick DART</a>&nbsp;&ccedil;erezi i&ccedil;erir.</p>

                            <p>&Uuml;&ccedil;&uuml;nc&uuml; taraf satıcı olarak Google, sitemizde reklam yayınlamak i&ccedil;in &ccedil;erezlerden yararlanır. Bu &ccedil;erezlerini kullanarak kullanıcılarınıza, sitenize ve internet&rsquo;teki diğer sitelere yaptıkları ziyaretlere dayalı reklamlar sunar.&nbsp;<a href="http://www.google.com/privacy_ads.html" target="_blank">Google Reklam ve İ&ccedil;erik Ağı Gizlilik Politikasını</a>&nbsp;ziyaret ederek DART &ccedil;erezinin kullanılmasını engelleyebilirsiniz.</p>

                            <p>Google Web sitemizi ziyaret ettiği zamanlarda reklam hizmeti vermek i&ccedil;in &uuml;&ccedil;&uuml;nc&uuml; taraf reklam şirketlerini kullanmaktadır. S&ouml;z konusu şirketler, bu sitelere ve diğer web sitelerine yaptığınız ziyaretlerden elde ettikleri (adınız, adresiniz, e-posta adresiniz veya telefon numaranız dışındaki) bilgileri ilginizi &ccedil;ekecek &uuml;r&uuml;n ve hizmetlerin reklamını size g&ouml;stermek i&ccedil;in kullanabilir. Bu uygulama hakkında bilgi edinmek i&ccedil;in ve s&ouml;z konusu bilgilerin bu şirketler tarafından kullanılmasını engellemek &uuml;zere se&ccedil;eneklerinizin neler olduğunu &ouml;ğrenmek ve daha fazla bilgi i&ccedil;in&nbsp;<a href="http://www.networkadvertising.org/sites/default/files/imce/principles.pdf" target="_blank">NAI Self-Regulatory principles for publishers (PDF)</a>&nbsp;belgesinin A Eki&rsquo;nden yararlanabilirsiniz.</p>

                            <p>&Ccedil;erezleri Kontrol Etme ve Silme</p>

                            <p>&Ccedil;erezlerin kullanımına ilişkin tercihlerinizi değiştirmek ya da &ccedil;erezleri engellemek veya silmek i&ccedil;in tarayıcınızın ayarlarını değiştirmeniz yeterlidir. Bir&ccedil;ok tarayıcı &ccedil;erezleri kontrol edebilmeniz i&ccedil;in size &ccedil;erezleri kabul etme veya reddetme, yalnızca belirli t&uuml;rdeki &ccedil;erezleri kabul etme ya da bir web sitesi cihazınıza &ccedil;erez depolamayı talep ettiğinde tarayıcı tarafından uyarılma se&ccedil;eneği sunar. Aynı zamanda daha &ouml;nce tarayıcınıza kaydedilmiş &ccedil;erezlerin silinmesi de m&uuml;mk&uuml;nd&uuml;r. &Ccedil;erezleri kontrol edilmesine veya silinmesine ilişkin işlemler kullandığınız tarayıcıya g&ouml;re değişebilmektedir. Bazı pop&uuml;ler tarayıcıların &ccedil;erezlere izin verme ya da &ccedil;erezleri engelleme veya silme talimatlarına aşağıda g&ouml;sterilmiştir.</p>

                            <p>&Ccedil;erez kullanım se&ccedil;iminin değiştirilmesine ait y&ouml;ntem, tarayıcı tipine bağlı olarak değişmekte olup, ilgili hizmet sağlayıcıdan dilendiği zaman &ouml;ğrenilebilmektedir.</p>

                            <p>
                                <strong>&Ccedil;erezlerin Kullanılmasını Nasıl Engelleyebilirsiniz?</strong>&nbsp;&Ccedil;erezlerin kullanılması Web Sitesi&#39;nin daha iyi hizmet vermekle birlikte eğer dilerseniz &ccedil;erezlerin kullanılmasını engelleyebilirsiniz. Ancak bu takdirde sitenin tam olarak işlevini g&ouml;sterememesi ve t&uuml;m &ouml;zelliklerinden yararlanamayabileceğinizi unutmayınız. &Ccedil;erezlerin kullanılmasını engellemek i&ccedil;in kullandığınız internet tarayıcınızın ayarlarınızı değiştirmeniz gerekmektedir. Bu değişiklikler kullandığınız cihaz ve internet tarayıcısına g&ouml;re değişiklik g&ouml;stermektedir. Aşağıda farklı internet tarayıcıları &uuml;zerinden &ccedil;erezlerin kullanılmasını engellemek i&ccedil;in hangi adımların izlenmesi gerektiğine ilişkin bilgiler yer almaktadır:<br />
                                <br />
                                &bull;&nbsp;<strong>Internet Explorer</strong>
                            </p>

                            <ol>
                                <li>Bilgisayarınızın masa&uuml;st&uuml;n&uuml; a&ccedil;ın ve g&ouml;rev &ccedil;ubuğunda &quot;Internet Explorer&quot; simgesine dokunun veya tıklayın.</li>
                                <li>&quot;Ara&ccedil;lar&quot; d&uuml;ğmesine, sonrasında da &quot;İnternet se&ccedil;enekleri&quot; kısmına tıklayın.</li>
                                <li>&quot;Gizlilik&quot; sekmesine dokunun veya tıklayın, ardından t&uuml;m tanımlama bilgilerini engellemek i&ccedil;in ayarların altında bulunan kaydırıcıyı yukarıya hareket ettirin ve &quot;Tamam&quot; d&uuml;ğmesine tıklayın.</li>
                            </ol>

                            <p>&bull;&nbsp;<strong>Microsoft Edge</strong></p>

                            <ol>
                                <li>&quot;Microsoft Edge&quot; tarayıcınızın sağ &uuml;st k&ouml;şesinden &uuml;&ccedil; nokta işareti olan b&ouml;l&uuml;me tıklayın ve &quot;Ayarlar&quot; b&ouml;l&uuml;m&uuml;ne gelin.</li>
                                <li>Karşınıza gelen yeni pencerede &quot;Temizlenecek &Ouml;ğeleri Se&ccedil;&quot; dedikten sonra, karşınıza gelen pencereden temizlemek istediğiniz &ccedil;erezleri se&ccedil;in.</li>
                                <li>Burada bir&ccedil;ok b&ouml;l&uuml;m bulunmaktadır. İstediğiniz &ccedil;erezleri se&ccedil;erek temizleme işlemine başlayabilirsiniz.</li>
                            </ol>

                            <p>&bull;&nbsp;<strong>Google Chrome</strong></p>

                            <ol>
                                <li>Bilgisayarınızda&nbsp;<a href="https://www.google.com/intl/tr_tr/chrome/" target="_blank">Google Chrome</a>&#39;u a&ccedil;ın.</li>
                                <li>Sağ &uuml;stte &quot;Diğer Ayarlar&quot; kısmınatıklayın.</li>
                                <li>Altta bulunan &quot;Gelişmiş&quot; kısmına tıklayın.</li>
                                <li>&quot;Gizlilik ve G&uuml;venlik&quot; kısmının altında olan &quot;İ&ccedil;erik Ayarları&quot; kısmına tıklayın.</li>
                                <li>Sonrasında &quot;&Ccedil;erezler&quot; se&ccedil;eneğine tıklayın.</li>
                                <li>&quot;T&uuml;m &ccedil;erezler ve Site Verileri&quot; kısmının altında giriş yapmış olduğunuz web sitesinin adını arayın.</li>
                                <li>Sitenin sağındaki &quot;Kaldır&quot; simgesini tıklayın.</li>
                            </ol>

                            <p>&bull;&nbsp;<strong>Mozilla Firefox</strong></p>

                            <ol>
                                <li>&quot;Firefox&quot; tarayıcınızdan &quot;Men&uuml;&quot; d&uuml;ğmesine tıklayın ve &quot;Se&ccedil;enekler&quot; kısmına gelin.</li>
                                <li>&quot;Gizlilik ve G&uuml;venlik&quot; panelini se&ccedil;in ve &quot;Ge&ccedil;miş&quot; b&ouml;l&uuml;m&uuml;ne gidin.</li>
                                <li>Firefox ayarını, &quot;ge&ccedil;miş i&ccedil;in &ouml;zel ayarları kullansın&quot; olarak değiştirin.</li>
                                <li>&quot;&Ccedil;erezleri G&ouml;ster&quot; d&uuml;ğmesine tıklayın. &Ccedil;erezler penceresi g&ouml;r&uuml;necektir.</li>
                                <li>Arama alanına, &ccedil;erezlerini silmek istediğiniz sitenin adını yazın. Aramanızla web sitesiyle eşleşen &ccedil;erezler g&ouml;r&uuml;nt&uuml;lenecektir.</li>
                                <li>Silmek istediğiniz &ccedil;erez(ler)i se&ccedil;ip &quot;Se&ccedil;ilenleri Sil&quot; d&uuml;ğmesine tıklayın.</li>
                                <li>&quot;Kapat&quot; d&uuml;ğmesine tıklayarak &ccedil;erezler penceresini kapatın. Sonra da &quot;about:preferences&quot; sayfasını kapatın.</li>
                            </ol>

                            <p>&bull;&nbsp;<strong>Safari</strong></p>

                            <ol>
                                <li>&quot;Safari&quot; tarayıcısına girin ve &quot;Tercihler&quot; kısmına gelin.</li>
                                <li>&quot;Gizlilik&quot; &ouml;ğesini tıklayın.</li>
                                <li>&quot;Web Sitesi Verilerini&quot; tıklayın.</li>
                                <li>Bir veya daha fazla web sitesi se&ccedil;in ve sonra &quot;Sil veya T&uuml;m&uuml;n&uuml; Sil&quot; se&ccedil;eneğine tıklayın.</li>
                            </ol>

                            <p>Ziyaret ettiğiniz web sitelerinin geride bıraktığı t&uuml;m &ccedil;erezli &uuml;&ccedil;&uuml;nc&uuml; parti yazılımlar aracılığıyla da silebilirsiniz.</p>

                            <p><strong>Bu sitede Google Analytics Ziyaret&ccedil;i Takip Sistemi Kullanılmaktadır</strong>&nbsp;(&Ccedil;erez Politikasında, ziyaret&ccedil;ilere, &lsquo;Google Analytics Kapsamı Dışında Kalma&rsquo; se&ccedil;eneği verilmelidir)</p>

                            <p><strong>Google Analytics Takibini Engelleme Eklentisi -&nbsp;</strong><a href="https://tools.google.com/dlpage/gaoptout?hl=tr" target="_blank"><strong>Google Analytics Kapsamı Dışında Kal</strong></a></p>

                            <p><strong>Sitede Kullanılan &Ccedil;erezler:</strong>&nbsp;&Ccedil;erez Politikasında, sitede kullanılan &ccedil;erezler tek tek listelenmeli ve hepsinin ne işe yaradığı tek tek a&ccedil;ıklamaları ile yazılmalıdır. Ayrıca hangi &ccedil;erez ne kadar s&uuml;re ile saklanıyor, ne &ouml;zelliği var vb. bunlar tek tek listelenmelidir.</p>

                            <p>Saklandığı S&uuml;re Bakımından &Ccedil;erez T&uuml;rleri</p>

                            <p><strong>Kalıcı &Ccedil;erezler (Persistent Cookies):</strong>&nbsp;Kişinin bilgisayarında belirli bir tarihe veya kullanıcı tarafından silinene kadar varlığını s&uuml;rd&uuml;ren &ccedil;erezlerdir. Bu &ccedil;erezler, &ccedil;oğunlukla kullanıcıların site hareketlerini ve tercihlerini &ouml;l&ccedil;mek amacıyla kullanılır.</p>

                            <p><strong>Oturum &Ccedil;erezleri (Session Cookies):</strong>&nbsp;Bu &ccedil;erezler kullanıcının ziyaretini oturumlara ayırmak i&ccedil;in kullanılır ve kullanıcıdan veri toplamaz. &Ccedil;erez, kullanıcı ziyaret ettiği web sayfasını kapattığında veya belli bir s&uuml;re pasif kaldığında silinir. Web Sitesi&#39;nde &uuml;&ccedil;&uuml;nc&uuml; kişilerin başta reklam hizmetleri olmak &uuml;zere hizmet sağlamasına yardımcı olmak ve bu hizmetlerin etkinliğini artırmak i&ccedil;in hedef ve izleme &ccedil;erezleri kullanılır. Bu &ccedil;erezler, ziyaret ettiğiniz web sayfalarını ve siteleri hatırlayabilir ve başta kullanıcı cihazının IP adresi olmak &uuml;zere kişisel verileri toplayabilir. Web Sitesi, bilgi toplamak, ilgi alanlarınızı ve demografik verileri hatırlamak ve size hedeflenmiş reklamları sunmak, reklamları iyileştirmek ziyaret edilme ve reklam g&ouml;sterimleri sayısını, reklam hizmetlerinin diğer kullanımlarını ve bu reklam g&ouml;sterimleri ve reklam hizmetleriyle ilgili etkileşimler arasındaki oranı belirlemek i&ccedil;in hem birinci taraf hem de &uuml;&ccedil;&uuml;nc&uuml; taraf &ccedil;erezlerini kullanmaktadır. Web Sitesi; Facebook ve LinkedIn gibi sosyal ağlara bağlantı sağlayan sosyal eklentilerden faydalanmaktadır. Web Sitesi&#39;ni ziyaret ettiğinizde ve bu eklentileri kullandığınızda, Web Sitesi doğrudan se&ccedil;ilen sosyal ağın sunucusuna bağlanır. Ardından, eklentinin sunduğu i&ccedil;erik doğrudan sosyal ağlardan web tarayıcınıza iletilir ve ziyaret etmekte olduğunuz web sitesine eklenir. B&ouml;ylelikle ilgili sosyal ağ size ait verilere ulaşarak işleyebilir ve ilgili sosyal ağdaki hesabınıza ait verilerle birleştirebilir.</p>

                            <p>L&uuml;tfen sosyal ağların eklentiler aracılığıyla işlediği verilerin kapsamı &uuml;zerinde herhangi bir etkimiz ve kontrol&uuml;m&uuml;z olmadığını unutmayın. Sosyal ağların kişisel verilerinizi hangi ama&ccedil;la, hangi y&ouml;ntemlerle ve hangi s&uuml;reyle işleyeceğine ilişkin daha fazla bilgi almak i&ccedil;in l&uuml;tfen ilgili sosyal ağlar tarafından yayınlanan kişisel verilerin işlenmesi politikalarını dikkatlice inceleyin.</p>

                            <p>Web Sitesi&#39;nde aşağıda yer alan &ccedil;erezler kullanmaktadır:</p>

                            <table border="1" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><strong>&Ccedil;erezin Adı</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>Kullanım Amacı</strong></p>
                                        </td>
                                        <td>
                                            <p><strong>Kullanım S&uuml;resi</strong></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Google Analytics</p>
                                        </td>
                                        <td>
                                            <p>Google Analytics, &ccedil;erezleri ziyaret&ccedil;ilerin Web Sitesini nasıl kullandıklarını analiz etmek amacıyla kullanır. Bu Web Sitesini kullanımınızla ilgili bilgiler (IP adresiniz dahil) Google&#39;a aktarılarak Google tarafından ABD&#39;deki sunucularda saklanmaktadır. Google bu bilgileri Web Sitesini kullanımınızı değerlendirmek, Şirket i&ccedil;in Web Sitesi faaliyetini derlemek ve Web Sitesi faaliyeti ve internet kullanımıyla ilgili başka hizmetler sağlamak amacıyla kullanacaktır, fakat IP adresinizi Google tarafından depolanan diğer verilerle eşleştirmeyecektir. Google Analytics kullanımı hakkında daha fazla bilgi i&ccedil;in (reddetme se&ccedil;enekleri dahil), şu adresi ziyaret edebilirsiniz:&nbsp;<a href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html" target="_blank">Google Privacy</a>.</p>
                                        </td>
                                        <td>
                                            <p>
                                                Kalıcı &Ccedil;erezler<br />
                                                Oturum &Ccedil;erezleri
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Google Ads</p>
                                        </td>
                                        <td>
                                            <p>Google Ads, &ccedil;erezleri, g&uuml;venli arama tercihlerinizi hatırlamak, size daha alakalı reklamlar g&ouml;stermek, bir sayfaya ka&ccedil; ziyaret&ccedil;i geldiğini belirlemek, hizmetlerimize kaydolmanıza yardımcı olmak, verilerinizi korumak veya reklam ayarlarınızı hatırlamak i&ccedil;in kullanır. Bu, web sitesinin ziyaretinizle ilgili bilgileri (&ouml;rneğin, tercih ettiğiniz dil ve diğer ayarlar) hatırlamasına yardımcı olur. Bu Web Sitesini kullanımınızla ilgili bilgiler (IP adresiniz dahil) Google&#39;a aktarılarak Google tarafından ABD&#39;deki sunucularda saklanmaktadır. Google bu bilgileri Web Sitesini kullanımınızı değerlendirmek, Şirket i&ccedil;in Web Sitesi faaliyetini derlemek ve Web Sitesi faaliyeti ve internet kullanımıyla ilgili başka hizmetler sağlamak amacıyla kullanacaktır, fakat IP adresinizi Google tarafından depolanan diğer verilerle eşleştirmeyecektir. Google Ads &ccedil;erez kullanımı hakkında daha fazla bilgi i&ccedil;in (reddetme se&ccedil;enekleri dahil), şu adresi ziyaret edebilirsiniz:&nbsp;<a href="https://policies.google.com/privacy?hl=tr" target="_blank">Google Privacy</a></p>
                                        </td>
                                        <td>
                                            <p>
                                                Kalıcı &Ccedil;erezler<br />
                                                Oturum &Ccedil;erezleri
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>RMC</p>
                                        </td>
                                        <td>
                                            <p>RMC, web tarayıcısı aracılığıyla bilgisayarınıza veya &uuml;&ccedil;&uuml;nc&uuml; taraf bir analiz sağlayıcısına ait benzersiz bir tanımlayıcı i&ccedil;eren k&uuml;&ccedil;&uuml;k metin dosyaları olan &ldquo;&ccedil;erezleri&rdquo; kullanır. Bunu hizmetleri ve web sitelerini geliştirmek i&ccedil;in kullanır. RMC, belirli pazarlama kampanyalarının ve bazı &uuml;r&uuml;nlerinin performansını izlemek i&ccedil;in Google Analytics&#39;i kullanır. Bu, &uuml;&ccedil;&uuml;nc&uuml; taraf hizmet sağlayıcıların, farklı temas noktalarında RMC adına uyarlanmış reklamlar oluşturmasına izin vermektir. Bu servis sağlayıcılar, kişisel bilgilerinizi, iletişim bilgilerinizi vb. İ&ccedil;ermeyen IP adresinizi ve kişisel olarak tanımlanamayan bilgilerinizi toplayabilir. Bu &ccedil;erezler ayrıca web sitemizin nasıl kullanıldığına ve performansına ilişkin istatistiksel bilgiler de sağlar. RMC &ccedil;erez kullanımı hakkında daha fazla bilgi i&ccedil;in (reddetme se&ccedil;enekleri dahil), şu adresi ziyaret edebilirsiniz:&nbsp;<a href="https://www.relateddigital.com/en/rmc-product-privacy-policy" target="_blank">Related Digital Privacy</a></p>
                                        </td>
                                        <td>
                                            <p>
                                                Kalıcı &Ccedil;erezler<br />
                                                Oturum &Ccedil;erezleri
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Facebook</p>
                                        </td>
                                        <td>
                                            <p>Facebook &ccedil;erezleri, facebook hesabınız varsa, site ve uygulamalar dahil olmak &uuml;zere Facebook &uuml;r&uuml;nlerini kullanırsanız veya Facebook &uuml;r&uuml;nlerini kullanan siteleri veya uygulamaları (Beğen d&uuml;ğmesi ve diğer Facebook Teknolojileri dahil) ziyaret ederseniz, kullanır. &Ccedil;erezler, Facebook&#39;un Facebook &uuml;r&uuml;nlerini size sunmasını ve kayıtlı veya giriş yapmış olup olmamanızdan bağımsız olarak, diğer internet siteleri ve uygulamaları kullanımınız dahil olmak &uuml;zere sizin hakkında aldığı bilgileri anlamasını sağlar. &Ccedil;erezleri; kimlik kontrol&uuml;, g&uuml;venlik ve site b&uuml;t&uuml;nl&uuml;ğ&uuml;, reklamlar, tavsiyeler, &ouml;l&ccedil;&uuml;m, analiz ve raporlama i&ccedil;in kullanır.</p>

                                            <p>Ayrıca ilginizi &ccedil;ekebilecek reklamları sosyal medya platformlarında da sunabilmek ve &ouml;zel hedef kitle oluşturmak amacıyla kişisel verilerinizden e-posta adresiniz bu platformlar ile paylaşılmaktadır. E-posta adresiniz, bu platformların sunduğug&uuml;venli kanallar ve ortamlar &uuml;zerinden aktarılmaktadır. Sosyal medya platformları, e-posta adresinizi hashleyerek, yalnızca eşleştirme işlemi i&ccedil;in kullanmaktadır. E-Posta adresiniz &uuml;&ccedil;&uuml;nc&uuml; taraflarla veya diğer reklam verenlerle paylaşılmaz ve eşleştirme işlemi tamamlandıktan sonra m&uuml;mk&uuml;n olan en kısa s&uuml;rede sosyal medya platformlarının sistemlerinden silinir. &Ouml;rneğin; Facebook, (a) kişisel veriniz Facebook sistemlerinde bulunduğu s&uuml;rece verilerin g&uuml;venliğini ve b&uuml;t&uuml;nl&uuml;ğ&uuml;n&uuml; korumak ve (b) Facebook sistemlerinde bulunan kişisel verinize yanlışlıkla veya yetkisiz olarak erişilmesine ve verinizin yanlışlıkla veya yetkisiz olarak kullanılmasına, değiştirilmesine veya ifşa edilmesine karşı korumak i&ccedil;in geliştirilen teknik ve fiziksel g&uuml;venlik &ouml;nlemlerini de i&ccedil;erecek şekilde, &ouml;zel hedef kitlenizi (&quot;&ouml;zel hedef kitleniz&quot;) oluşturan hash y&ouml;ntemiyle şifrelenen e-posta adresinizin ve Facebook Kullanıcı Kimliği koleksiyonunun gizliliğini ve g&uuml;venliğini sağlayacaktır. Ayrıca, izniniz olmadan veya yasalar gerektirmediği s&uuml;rece, Facebook &uuml;&ccedil;&uuml;nc&uuml; taraflara veya diğer reklam verenlere &ouml;zel hedef kitleniz i&ccedil;in erişim veya bilgi vermez, &ouml;zel hedef kitle bilgilerinizi kullanıcılarımız hakkındaki bilgilere eklemez veya ilgi alanına dayalı profiller oluşturmaz ya da &ouml;zel hedef kitlenizi size hizmet sunmanın haricinde kullanmaz. Facebook &ouml;zel hedef kitleler koşulları i&ccedil;in&nbsp;<a href="https://www.facebook.com/ads/manage/customaudiences/tos.php?_=_" target="_blank">Facebook Custom Audiences</a>&nbsp;adresini, Facebook Gizlilik İlkeleri i&ccedil;in&nbsp;<a href="https://www.facebook.com/privacy/explanation" target="_blank">Facebook Privacy</a>&nbsp;adresini ziyaret edebilirsiniz.</p>
                                        </td>
                                        <td>
                                            <p>
                                                Kalıcı &Ccedil;erezler<br />
                                                Oturum &Ccedil;erezleri
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                            <p>www.uplifeacademy.com&nbsp;Sitemizde Kullanılan &Ccedil;erezlere ilişkin bilgiler aşağıdaki tabloda yer almaktadır:</p>

                            <table border="1" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td><strong>Servis Sağlayıcı</strong></td>
                                        <td><strong>&Ccedil;erez İsmi</strong></td>
                                        <td><strong>&Ccedil;erez Amacı</strong></td>
                                        <td><strong>&Ccedil;erez Tipi</strong></td>
                                        <td><strong>&Ccedil;erez S&uuml;resi</strong></td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_BirthDate</td>
                                        <td>Kullanıcının doğum tarihi</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_CityName</td>
                                        <td>Kullanıcının yaşadığı şehir</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_Education</td>
                                        <td>Kullanıcının &uuml;niversitesi ve b&ouml;l&uuml;m&uuml;</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_EducationLevel</td>
                                        <td>Kullanıcının eğitim durumu</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_Gender</td>
                                        <td>Kullanıcının cinsiyeti</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_Geo</td>
                                        <td>Kullanıcının yaşadığı lokasyon</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_LastJobTitle</td>
                                        <td>Kullanıcının son pozisyonunun adı</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_LastJobTitleSegmentCode</td>
                                        <td>Kullanıcının m&uuml;şteri segmenti</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_Login</td>
                                        <td>Kullanıcının giriş yapıp yapmadığı bilgisi</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_Login_Module</td>
                                        <td>Kullanıcının neyin &uuml;zerinden giriş yaptığı bilgisi</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_Ozgecmis</td>
                                        <td>Kullanıcının &ouml;zge&ccedil;mişinin herkese a&ccedil;ık olup olmadığı bilgisi</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_UpdateResume</td>
                                        <td>Kullanıcının &ouml;zge&ccedil;mişinin g&uuml;ncel olup olmadığı bilgisi</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_WorkExperience</td>
                                        <td>Kullanıcının ne kadar iş tecr&uuml;besi olduğu bilgisi</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_WorkStatus</td>
                                        <td>Kullanıcının iş sahipliği bilgisi</td>
                                        <td>Persistent Cookie</td>
                                        <td>En fazla 1 aylık</td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                            <p>Tablolar&nbsp;<strong>&ouml;rnek niteliği</strong>&nbsp;taşımaktadır.&nbsp;</p>

                            <p>&nbsp;</p>

                            <p>T&uuml;m bu a&ccedil;ıklamalardan ve size sunulan bilgiler ışığında, web sitesinde hangi &ccedil;erezlerin kullanılacağı konusu, zorunlu &ccedil;erezler hari&ccedil;, tamamen web sitesi ziyaret&ccedil;ilerinin &ouml;zg&uuml;r iradelerine bırakılmıştır. &Ccedil;erez tercihlerinizi, tarayıcınızın ayarlarından silerek ya da engelleyerek, web sitesine giriş yaptığınız anda y&ouml;netebilir veya istediğiniz zaman bu ayarları değiştirebilirsiniz.</p>

                            <p>Diğer ana web tarayıcılarında bu işlemin nasıl yapılacağı hakkında daha fazla bilgiyi<a href="https://www.aboutcookies.org/" target="_blank">AboutCookies</a>&nbsp;adresinde bulabilirsiniz.</p>

                            <p>Ziyaret ettiğiniz web sitelerinin geride bıraktığı t&uuml;m &ccedil;erezli &uuml;&ccedil;&uuml;nc&uuml; parti yazılımlar aracılığıyla da silebilirsiniz.</p>

                            <p>Bu &#39;<strong>&Ccedil;erez Politikası</strong>&#39;nın en son g&uuml;ncellendiği tarih:&nbsp;<em>31 Aralık 2021 (31.12.2021)</em>&nbsp;</p>



                        </div>
                    </div>


                }
                else
                {
                    <div class="blog-details-page__content">
                        <div class="blog-details-page__content__inner">


                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookie Policy</font></font></h2>
                            <hr>
                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">What is a Cookie?</font></font></h3>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The websites you visit can save small pieces of information on your computer or phone and read this information when you visit the same site later. The files where this small information is saved are called cookies. Cookies generally serve to improve your browsing experience and personalize sites. For example, if you select the “remember me” option when logging into a site, that site will save a cookie containing your user name (or a unique identification number) in your browser. Cookies can only be read by the site that created them. The site also determines how long the cookie will be stored.</font></font></p>

                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Use of Cookies</font></font></h3>

                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">COOKIE</font></font></strong></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">We use Cookies so that you can benefit from our website (www.uplifeacademy.com) in the most efficient way and to improve your user experience. When you log in to our website, you are asked whether you accept the use of Cookies. Cookies will be active after you select the 'Accept' option. If you change your mind later and do not prefer the use of Cookies, you can always delete or block Cookies from your browser settings. However, we would like to remind you that this may affect your use of our website. Cookies will continue to be used on this site unless you change your Cookie settings from your browser. The purposes for which Cookies are used and how long they are stored are specified below. You share some information and data with us directly or indirectly for the use of the services on our site. This information is the personal information you provide when registering to the site (such as name, e-mail address, telephone) or the information we collect during your use of the site (such as when using the contact form, commenting, etc.) (data such as IP, device, location and browser information, navigation and interaction content, date and connection time). We take the utmost care in storing your information and data. Our website does not share your Cookie data stored on our server with 3rd parties. Cookie data stored by external services on the site (Live Support plugin, Facebook plugin, YouTube video, Twitter content, etc.) are the responsibility of the external services. For this; please take a look at our ' </font></font><a href="https://nesrinozkaya.com/cerez-politikasi-ornegi.html#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Disclosure Text</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ', ' </font></font><a href="https://nesrinozkaya.com/cerez-politikasi-ornegi.html#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">KVKK</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ' and ' </font></font><a href="https://nesrinozkaya.com/cerez-politikasi-ornegi.html#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Privacy Policy</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ' pages. (Edit according to your own)</font></font></p>

                            <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies Used on the Website</font></font></h3>

                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Minors</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;(Add/remove depending on your site's content)</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">If you are under the age of 18, you must visit the Website under the supervision of your parents. You must not use this Website and must not share any of your personal data without the supervision of your parents.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">What is a Cookie and Why is it Used?</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies are small text (data) files stored on your device or on a network server by the websites you visit through browsers.</font></font></p>

                            <ul>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">To improve the services offered to you by increasing the functionality and performance of the Website,</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">To improve the Website, to offer new features on the Website and to personalize the features offered according to your preferences,</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">To ensure the legal and commercial security of the Website, you and our company (or our business, site, etc.).</font></font></li>
                            </ul>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Types of Cookies</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies, whose main purpose is to provide convenience to users, are basically grouped into four main groups:</font></font></p>

                            <ul>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Session Cookies:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;These are cookies that enable the use of various features such as transferring information between web pages and systematically remembering information entered by the user, and are necessary for the functions of the website to function properly.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Performance Cookies:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;These are cookies that collect information about the frequency of page visits, possible error messages, the total time users spend on the relevant page, and the way they use the site, and are used to increase the performance of the website.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Functional Cookies:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;These are cookies that remind the user of previously selected options for convenience and aim to provide users with advanced internet features within the scope of the website.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Advertising and Third Party Cookies:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;These are cookies belonging to third party suppliers and enable the use of some functions on the website and advertising tracking (showing appropriate advertising).</font></font></li>
                            </ul>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Purposes of Use of Cookies</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The purposes of use of cookies used by www.uplifeacademy.com are as follows:</font></font></p>

                            <ul>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Uses for security purposes:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp; uplifeacademy.com may use cookies to enable the use of functions on this site or to detect irregular behavior in order to manage and secure its systems.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Functional uses:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp; uplifeacademy.com may use cookies to remind users of their information and past choices in order to facilitate the use of its systems and to provide user-specific usage features.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Performance-oriented uses:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp; uplifeacademy.com may use cookies to evaluate and analyze user behavior and interaction with sent messages in order to increase and measure the performance of its systems.</font></font></li>
                                <li><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Advertising uses:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp; uplifeacademy.com may use cookies to deliver advertisements and similar content in line with users' interests through its own or third-party systems, measuring the effectiveness of these advertisements or analyzing clickability.</font></font></li>
                            </ul>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies are used to detect suspicious activities on the website and to ensure necessary security, to increase the functionality and performance of the website in line with the preferences of visitors, to develop and personalize the services and products offered on the website, to facilitate access to these services and products, and to fulfill the legal responsibilities of the website. In addition, there are advertising cookies and information sharing with third parties in order to bring together website visitors with more comprehensive service providers. (You can delete the last part if you do not publish ads on your site)</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">What Personal Data Are Processed Through Cookies?</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The person's identity (name, surname, nickname, date of birth, etc.) and contact information (residence address, e-mail address, telephone number, IP address, browser information, computer information, location information, etc.) will be obtained, recorded, stored and updated by us through cookies available on the website, by automatic or non-automatic methods or software, and sometimes by third parties such as advertising networks, analytical software, search and volume information providers, relevant software or technologies, and will be processed in accordance with the law within the framework and duration of the terms and services agreement between us, and in accordance with the personal data processing conditions.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Use of Cookies for Advertising Purposes</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">(If there is no advertising on the site, you can delete this section)</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">www.uplifeacademy.com uses Google Adsense (or whichever system you use, specify each one separately) advertising system/systems. This system&nbsp; contains </font></font><a href="https://www.disclaimertemplate.com/doubleclick-dart-cookie/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">the DoubleClick DART</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;cookie, which is used by Google to provide content in advertisements served on publisher websites where AdSense advertisements are displayed.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google, as a third-party vendor, uses cookies to serve ads on our site. It uses cookies to serve ads to your users based on their visit to your site and other sites on the internet.&nbsp; </font><font style="vertical-align: inherit;">&nbsp;You can opt out of the use of the DART cookie by visiting </font></font><a href="http://www.google.com/privacy_ads.html" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">the Google Ad and Content Network Privacy Policy .</font></font></a><font style="vertical-align: inherit;"></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google uses third-party advertising companies to serve ads when you visit our Web site. These companies may use information (not including your name, address, email address, or telephone number) from your visits to this and other web sites in order to show you advertisements about goods and services that may be of interest to you. To learn about this practice, to learn about your choices to prevent these companies from using this information, and for more information,&nbsp; see Appendix A of the </font></font><a href="http://www.networkadvertising.org/sites/default/files/imce/principles.pdf" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">NAI Self-Regulatory principles for publishers (PDF)</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Controlling and Deleting Cookies</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">To change your preferences regarding the use of cookies, or to block or delete cookies, simply change the settings on your browser. Most browsers give you the option to control cookies by accepting or rejecting cookies, only accepting certain types of cookies, or being notified by the browser when a website requests to store a cookie on your device. You can also delete cookies that have already been saved on your browser. The process for controlling or deleting cookies may vary depending on the browser you use. Instructions for allowing, blocking or deleting cookies for some popular browsers are shown below.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The method for changing cookie usage preferences varies depending on the browser type and can be learned from the relevant service provider at any time.</font></font></p>

                            <p>
                                <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">How Can You Prevent the Use of Cookies?</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;Although the use of cookies allows the Website to provide better service, if you wish, you can prevent the use of cookies. However, please note that in this case, the site may not function fully and you may not be able to benefit from all its features. In order to prevent the use of cookies, you need to change the settings of your internet browser. These changes vary depending on the device and internet browser you use. Below is information on what steps to follow to prevent the use of cookies on different internet browsers: </font></font><br>
                                <br><font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">
                                        •&nbsp;
                                    </font>
                                </font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Internet Explorer</font></font></strong>
                            </p>

                            <ol>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Open your computer's desktop and click or tap the "Internet Explorer" icon on the taskbar.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click the "Tools" button, then click "Internet options."</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tap or click the "Privacy" tab, then move the slider located under the settings up to block all cookies and click the "OK" button.</font></font></li>
                            </ol>

                            <p>•&nbsp;<strong>Microsoft Edge</strong></p>

                            <ol>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click on the three-dot icon in the upper right corner of your "Microsoft Edge" browser and go to the "Settings" section.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In the new window that opens, after saying "Select Items to Clear", select the cookies you want to clear from the window that opens.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">There are many sections here. You can start the cleaning process by selecting the cookies you want.</font></font></li>
                            </ol>

                            <p>•&nbsp;<strong>Google Chrome</strong></p>

                            <ol>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Open </font></font><a href="https://www.google.com/intl/tr_tr/chrome/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google Chrome</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> on your computer&nbsp; .</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click "More Settings" in the top right.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click on the "Advanced" section at the bottom.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click on "Content Settings" under the "Privacy and Security" section.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Then click on "Cookies".</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Under the "All cookies and Site Data" section, look for the name of the website you're logged in to.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click the "Remove" icon to the right of the site.</font></font></li>
                            </ol>

                            <p>•&nbsp;<strong>Mozilla Firefox</strong></p>

                            <ol>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click on the "Menu" button in your "Firefox" browser and go to "Options".</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Select the "Privacy &amp; Security" panel and go to the "History" section.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Change Firefox setting to "use custom settings for history".</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click the "Show Cookies" button. The Cookies window will appear.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In the search field, type the name of the site whose cookies you want to delete. Cookies matching your search will be displayed.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Select the cookie(s) you want to delete and click the "Delete Selected" button.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Close the cookies window by clicking the "Close" button. Then close the "about:preferences" page.</font></font></li>
                            </ol>

                            <p>•&nbsp;<strong>Safari</strong></p>

                            <ol>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Go to the "Safari" browser and go to the "Preferences" section.</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click on "Privacy".</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Click on "Website Data".</font></font></li>
                                <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Select one or more websites and then click "Delete or Delete All".</font></font></li>
                            </ol>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">You can also delete all cookies left behind by the websites you visit through third-party software.</font></font></p>

                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This site uses the Google Analytics Visitor Tracking System</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;(In the Cookie Policy, visitors should be given the option to 'Opt Out of Google Analytics')</font></font></p>

                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google Analytics Tracking Opt-out Plugin -&nbsp; </font></font></strong><a href="https://tools.google.com/dlpage/gaoptout?hl=tr" target="_blank"><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Opt Out of Google Analytics</font></font></strong></a></p>

                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookies Used on the Site:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;In the Cookie Policy, the cookies used on the site should be listed one by one and each of them should be explained with their purpose. In addition, which cookie is stored for how long, what feature it has, etc. should be listed one by one.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookie Types in Terms of Storage Period</font></font></p>

                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookies:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;These cookies remain on a person's computer until a certain date or until deleted by the user. These cookies are mostly used to measure users' site movements and preferences.</font></font></p>

                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Session Cookies:</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;These cookies are used to divide the user's visit into sessions and do not collect data from the user. The cookie is deleted when the user closes the web page they are visiting or remains inactive for a certain period of time. Target and tracking cookies are used on the Website to help third parties provide services, primarily advertising services, and to increase the effectiveness of these services. These cookies can remember the web pages and sites you have visited and collect personal data, primarily the IP address of the user's device. The Website uses both first-party and third-party cookies to collect information, remember your interests and demographic data, and to provide you with targeted advertisements, improve advertisements, determine the number of visits and ad impressions, other uses of ad services, and the ratio between these ad impressions and interactions with ad services. The Website uses social plugins that provide connections to social networks such as Facebook and LinkedIn. When you visit the Website and use these plugins, the Website connects directly to the server of the selected social network. The content offered by the plugin is then transmitted directly from the social networks to your web browser and added to the website you are visiting. In this way, the relevant social network can access and process your data and combine it with the data belonging to your account on the relevant social network.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Please note that we have no influence or control over the scope of data that social networks process through plug-ins. Please carefully review the personal data processing policies published by the relevant social networks to obtain more information on for what purposes, by what methods and for what period of time social networks will process your personal data.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The Website uses the following cookies:</font></font></p>

                            <table border="1" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookie Name</font></font></strong></p>
                                        </td>
                                        <td>
                                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Purpose of usage</font></font></strong></p>
                                        </td>
                                        <td>
                                            <p><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Usage Period</font></font></strong></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Google Analytics</p>
                                        </td>
                                        <td>
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google Analytics uses cookies to analyze how visitors use the Website. Information about your use of this Website (including your IP address) is transmitted to Google, which stores it on servers in the United States. Google will use this information to evaluate your use of the Website, compile Website activity for the Company, and provide other services related to Website activity and internet usage, but will not match your IP address with other data stored by Google. For more information about the use of Google Analytics (including opt-out options), you can visit:&nbsp; </font></font><a href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google Privacy</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .</font></font></p>
                                        </td>
                                        <td>
                                            <p>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Persistent Cookies
                                                    </font>
                                                </font><br><font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Session Cookies
                                                    </font>
                                                </font>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Google Ads</p>
                                        </td>
                                        <td>
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google Ads uses cookies to remember your safe search preferences, show you more relevant ads, determine how many visitors visit a page, help you sign up for our services, protect your data, or remember your ad settings. This helps the website remember information about your visit (for example, your preferred language and other settings). Information about your use of this Website (including your IP address) is transferred to Google and stored by Google on servers in the United States. Google will use this information to evaluate your use of the Website, compile Website activity for the Company, and provide other services related to Website activity and internet usage, but will not match your IP address with other data stored by Google. For more information about Google Ads cookie use (including opt-out options), you can visit:&nbsp; </font></font><a href="https://policies.google.com/privacy?hl=tr" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google Privacy</font></font></a></p>
                                        </td>
                                        <td>
                                            <p>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Persistent Cookies
                                                    </font>
                                                </font><br><font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Session Cookies
                                                    </font>
                                                </font>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>RMC</p>
                                        </td>
                                        <td>
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RMC uses “cookies”, which are small text files that contain a unique identifier that is either on your computer or from a third-party analytics provider through your web browser. It uses this to improve the services and websites. RMC uses Google Analytics to track the performance of certain marketing campaigns and some of its products. This is to allow third-party service providers to create tailored advertising on behalf of RMC across different touchpoints. These service providers may collect your IP address and non-personally identifiable information, which does not include your personal information, contact information, etc. These cookies also provide statistical information about how our website is used and performs. For more information about RMC’s use of cookies (including opt-out options), you can visit:&nbsp; </font></font><a href="https://www.relateddigital.com/en/rmc-product-privacy-policy" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Related Digital Privacy</font></font></a></p>
                                        </td>
                                        <td>
                                            <p>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Persistent Cookies
                                                    </font>
                                                </font><br><font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Session Cookies
                                                    </font>
                                                </font>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>Facebook</p>
                                        </td>
                                        <td>
                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facebook uses cookies when you have a Facebook account, when you use Facebook products, including sites and apps, or when you visit sites or apps that use Facebook products (including the Like button and other Facebook Technologies). Cookies allow Facebook to make Facebook products available to you and to understand information about you, including your use of other websites and apps, whether you are registered or logged in. It uses cookies for identity verification, security and site integrity, ads, recommendations, measurement, analytics, and reporting.</font></font></p>

                                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In addition, in order to be able to present advertisements that may be of interest to you on social media platforms and to create a special target audience, your e-mail address from your personal data is shared with these platforms. Your e-mail address is transferred through secure channels and environments offered by these platforms. Social media platforms use your e-mail address by hashing it only for the matching process. Your e-mail address is not shared with third parties or other advertisers and is deleted from the systems of social media platforms as soon as possible after the matching process is completed. For example; Facebook will ensure the confidentiality and security of your e-mail address and Facebook User ID collection encrypted with the hash method that constitutes your special target audience ("your special target audience"), including technical and physical security measures developed to (a) protect the security and integrity of your personal data as long as it is in Facebook systems and (b) protect your personal data in Facebook systems against accidental or unauthorized access and accidental or unauthorized use, alteration or disclosure of your data. Additionally, Facebook will not provide third parties or other advertisers with access to or information about your custom audience, add your custom audience information to information about our users, or create interest-based profiles or otherwise use your custom audience other than to provide you with the Service, unless you have permission or are required by law to do so. For Facebook custom audience terms,&nbsp; please visit </font></font><a href="https://www.facebook.com/ads/manage/customaudiences/tos.php?_=_" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facebook Custom Audiences</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;, and for Facebook's Privacy Policy,&nbsp; </font><font style="vertical-align: inherit;">&nbsp;please visit </font></font><a href="https://www.facebook.com/privacy/explanation" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facebook Privacy .</font></font></a><font style="vertical-align: inherit;"></font></p>
                                        </td>
                                        <td>
                                            <p>
                                                <font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Persistent Cookies
                                                    </font>
                                                </font><br><font style="vertical-align: inherit;">
                                                    <font style="vertical-align: inherit;">
                                                        Session Cookies
                                                    </font>
                                                </font>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Information regarding the Cookies used on our www.uplifeacademy.com Site is provided in the table below:</font></font></p>

                            <table border="1" cellpadding="0" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Service provider</font></font></strong></td>
                                        <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookie Name</font></font></strong></td>
                                        <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookie Purpose</font></font></strong></td>
                                        <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookie Type</font></font></strong></td>
                                        <td><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookie Duration</font></font></strong></td>
                                    </tr>
                                    <tr>
                                        <td>Google</td>
                                        <td>CV_BirthDate</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">User's date of birth</font></font></td>
                                        <td>Persistent Cookie</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_CityName</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">City where the user lives</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_Education</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">User's university and department</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_EducationLevel</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Educational background of the user</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_Gender</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">User gender</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_Geo</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Location where the user lives</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_LastJobTitle</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Name of the user's last position</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_LastJobTitleSegmentCode</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">User's customer segment</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_Login</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Information about whether the user is logged in or not</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_Login_Module</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Information about what the user is logging in from</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_Ozgecmis</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Information about whether the user's resume is public or not</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_UpdateResume</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Information on whether the user's resume is up to date</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_WorkExperience</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Information on how much work experience the user has</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                    <tr>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Google</font></font></td>
                                        <td>CV_WorkStatus</td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">User's business ownership information</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Persistent Cookie</font></font></td>
                                        <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Maximum 1 month</font></font></td>
                                    </tr>
                                </tbody>
                            </table>

                            <p>&nbsp;</p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The tables&nbsp; are </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">examples only</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;.&nbsp;</font></font></p>

                            <p>&nbsp;</p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In light of all these explanations and the information provided to you, the issue of which cookies will be used on the website, except for mandatory cookies, is left entirely to the free will of website visitors. You can manage your cookie preferences by deleting or blocking them from your browser settings when you log in to the website or change these settings at any time.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">More information on how to do this in other major web browsers can be found at </font></font><a href="https://www.aboutcookies.org/" target="_blank"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">AboutCookies</font></font></a><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> &nbsp;.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">You can also delete all cookies left behind by the websites you visit through third-party software.</font></font></p>

                            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This ' </font></font><strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cookie Policy</font></font></strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ' was last updated on:&nbsp; </font></font><em><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">31 December 2021 (31.12.2021)</font></font></em>&nbsp;</p>



                        </div>
                    </div>
                }


            </div>
        </div>
</section>
<!--End Blog Details Page -->
