
@{
    ViewData["Title"] = "Çerez Politikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section tags {
    <link rel="canonical" href="https://www.kaktusyazilim.com/cerez-politikasi" type="text/html" />
    <meta name="description" content="@(new HtmlString( Model.Setting.MetaDescription))" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Kaktüs Yazılım">
    <meta property="og:title" content="@(new HtmlString(Model.Setting.MetaDescription))">
    <meta property="og:description" content="@(new HtmlString(Model.Setting.MetaDescription))">
    <meta property="og:url" content="https://www.kaktusyazilim.com">
    <meta property="og:locale" content="tr_TR">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@kaktusyazilimcom">
    <meta name="twitter:title" content="Kaktüs Yazılım">
    <meta name="twitter:url" content="https://www.kaktusyazilim.com">
    <meta name="twitter:description" content="@(new HtmlString(Model.Setting.MetaDescription))">
}
<div style="margin-top:100px;z-index:0 !important" class="inner-banner">
    <img src="/site/assets/images/bg/inner-bannerdot.png" class="inner-bannerdot" alt="image">
    <img src="/site/assets/images/bg/inner-bannerwave.png" class="inner-bannerwave" alt="image">
    <a class="down-arrow-icon" href="#service-details">
        <svg viewBox="0 0 14 26" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8182 18.469L7.24862 25.7462L0.679032 18.469C0.272584 18.0188 0.592074 17.3 1.19862 17.3L6.74862 17.3L6.74862 1C6.74862 0.723857 6.97248 0.5 7.24862 0.5C7.52477 0.5 7.74862 0.723857 7.74862 1L7.74862 17.3L13.2986 17.3C13.9052 17.3 14.2247 18.0188 13.8182 18.469Z" />
        </svg>
    </a>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-md-6">
                <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    Çerez Politikası
                </h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb gap-3">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Çerez Politikası
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top:50px">
    <h2>&#xC7;erez Politikas&#x131;</h2>
    <hr />
    <h3>&Ccedil;erez Nedir?</h3>

    <p>Ziyaret ettiğiniz web siteleri, bilgisayarınıza veya telefonunuza k&uuml;&ccedil;&uuml;k bilgiler kaydedip, daha sonra aynı siteyi ziyaret ettiğinizde bu bilgileri okuyabilirler. Bu k&uuml;&ccedil;&uuml;k bilgilerin kaydedildiği dosyalara &ccedil;erez veya tanımlama bilgisi (İngilizcesi: cookie) denir. &Ccedil;erezler genellikle internette gezinti deneyiminizi iyileştirmeye ve siteleri kişiselleştirmeye yarar. &Ouml;rneğin bir siteye giriş yaparken &ldquo;beni hatırla&rdquo; se&ccedil;eneğini işaretlerseniz o site, kullanıcı adınızı (veya &ouml;zel bir kimlik numarasını) i&ccedil;eren bir &ccedil;erezi tarayıcınıza kaydeder. &Ccedil;erezleri yalnızca onları oluşturan site okuyabilir. &Ccedil;erezin ne kadar s&uuml;reyle saklanacağını da site belirler.</p>

    <h3>&Ccedil;erez Kullanımı</h3>

    <p><strong>&Ccedil;EREZ (&ldquo;COOKIE&rdquo;)</strong></p>

    <p>İnternet sitemizden (www.kaktusyazilim.com) en verimli şekilde faydalanabilmeniz ve kullanıcı deneyiminizi geliştirebilmek i&ccedil;in Cookie kullanıyoruz. Web sitemize giriş yaptığınız zaman, sizlere, Cookie kullanımı kabul edip etmediğinize dair bir soru sorulmaktadır. &#39;Kabul Et&#39; se&ccedil;eneğini se&ccedil;tikten sonra Cookie&#39;ler aktif olacaktır. Sonradan fikrinizi değiştirirseniz ve Cookie kullanılmasını tercih etmezseniz tarayıcınızın ayarlarından Cookie&rsquo;leri her zaman silebilir ya da engelleyebilirsiniz. Ancak bunun internet sitemizi kullanımınızı etkileyebileceğini hatırlatmak isteriz. Tarayıcınızdan Cookie ayarlarınızı değiştirmediğiniz s&uuml;rece bu sitede Cookie&#39;ler kullanılmaya devam edecektir. Cookie&#39;lerin hangi ama&ccedil;la kullanıldığı ve ne kadar s&uuml;re depolandığı aşağıda belirtilmektedir. Sitemizde yer alan servislerin kullanımı i&ccedil;in bizimle doğrudan veya dolaylı olarak bazı bilgi ve veriler paylaşmaktasınız. Bu bilgiler siteye kayıt olurken verdiğiniz kişisel bilgiler (isim, e-posta adresi, telefon gibi) veya siteyi kullanımınız (iletişim formunu kullanırken, yorum yaparken vb.) esnasında topladığımız bilgilerdir (IP, cihaz, konum ve tarayıcı bilgileri, gezinti ve etkileşim i&ccedil;eriği, tarih ve bağlantı s&uuml;resi gibi veriler). Bilgi ve verilerinizi saklama konusunda azami &ouml;zeni g&ouml;stermekteyiz. Web sitemiz, sunucumuzda depolanan Cookie verilerinizi 3. parti kişiler ile paylaşılmamaktadır. Sitede bulunan harici hizmetler (Canlı Destek eklentisi, Facebook eklentisi, YouTube videosu, Twitter i&ccedil;eriği vb.) tarafından depolanan Cookie verileriniz ise harici hizmetlerin sorumluluğundadır. Bunun i&ccedil;in; &#39;<a href="https://nesrinozkaya.com/cerez-politikasi-ornegi.html#">Aydınlatma Metni</a>&#39;, &#39;<a href="https://nesrinozkaya.com/cerez-politikasi-ornegi.html#">KVKK</a>&#39; ve &#39;<a href="https://nesrinozkaya.com/cerez-politikasi-ornegi.html#">Gizlilik Politikası</a>&#39; sayfalarımıza g&ouml;z atınız. (Kendinize g&ouml;re d&uuml;zenleyiniz)</p>

    <h3>İnternet Sitesinde Kullanılan &Ccedil;erezler</h3>

    <p><strong>Reşit Olmayanlar</strong>&nbsp;(Sitenizin i&ccedil;eriğine g&ouml;re ekleyin/kaldırın)</p>

    <p>18 yaşın altındaysanız Web Sitesi&#39;ni ebeveynlerinizin refakati altında ziyaret etmeniz gerekmektedir. Ebeveynlerinizin refakati olmadan bu Web Sitesi&#39;ni kullanmamanız ve hi&ccedil;bir kişisel verinizi paylaşmamanız gerekmektedir.</p>

    <p>&Ccedil;erez Nedir ve Neden Kullanılmaktadır?</p>

    <p>&Ccedil;erezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza veya ağ sunucusuna depolanan k&uuml;&ccedil;&uuml;k metin (veri) dosyalarıdır.</p>

    <ul>
        <li>İnternet Sitesinin işlevselliğini ve performansını arttırmak yoluyla sizlere sunulan hizmetleri geliştirmek,</li>
        <li>İnternet Sitesini iyileştirmek, İnternet Sitesi &uuml;zerinden yeni &ouml;zellikler sunmak ve sunulan &ouml;zellikleri sizlerin tercihlerine g&ouml;re kişiselleştirmek,</li>
        <li>İnternet Sitesinin, sizin ve şirketimizin (veya işletmemizin, sitemizin vb.) hukuki ve ticari g&uuml;venliğinin teminini sağlamak.</li>
    </ul>

    <p>&Ccedil;erez T&uuml;rleri</p>

    <p>Ana kullanım amacı kullanıcılara kolaylık sağlamak olan &ccedil;erezler, temel olarak d&ouml;rt ana grupta toplanmaktadır:</p>

    <ul>
        <li><strong>Oturum &Ccedil;erezleri:</strong>&nbsp;İnternet sayfaları arasında bilgi taşınması ve kullanıcı tarafından girilen bilgilerin sistemsel olarak hatırlanması gibi &ccedil;eşitli &ouml;zelliklerden faydalanmaya olanak sağlayan &ccedil;erezlerdir ve internet sitesine ait fonksiyonların d&uuml;zg&uuml;n bir şekilde işleyebilmesi i&ccedil;in gereklidir.</li>
        <li><strong>Performans &Ccedil;erezleri:</strong>&nbsp;Sayfaların ziyaret edilme frekansı, olası hata iletileri, kullanıcıların ilgili sayfada harcadıkları toplam zaman ile birlikte siteyi kullanım şekilleri konularında bilgi toplayan &ccedil;erezlerdir ve internet sitesinin performansını arttırma amacıyla kullanılmaktadır.</li>
        <li><strong>Fonksiyonel &Ccedil;erezler:</strong>&nbsp;Kullanıcıya kolaylık sağlanması amacıyla &ouml;nceden se&ccedil;ili olan se&ccedil;eneklerin hatırlatılmasını sağlayan &ccedil;erezlerdir ve internet sitesi kapsamında kullanıcılara gelişmiş internet &ouml;zellikleri sağlanmasını hedeflemektedir.</li>
        <li><strong>Reklam ve &Uuml;&ccedil;&uuml;nc&uuml; Taraf &Ccedil;erezleri:</strong>&nbsp;&Uuml;&ccedil;&uuml;nc&uuml; parti tedarik&ccedil;ilere ait &ccedil;erezlerdir ve internet sitesindeki bazı fonksiyonların kullanımına ve reklam takibinin yapılmasına (uygun reklam g&ouml;sterilmesine) olanak sağlamaktadır.</li>
    </ul>

    <p>&Ccedil;erezlerin Kullanım Ama&ccedil;ları</p>

    <p>www.alandi.com&nbsp;tarafından kullanılmakta olan &ccedil;erezlere ait kullanım ama&ccedil;ları aşağıdaki gibidir:</p>

    <ul>
        <li><strong>G&uuml;venlik ama&ccedil;lı kullanımlar:</strong>&nbsp; kaktusyazilim.com, sistemlerinin idaresi ve g&uuml;venliğinin sağlanması amacıyla, bu sitedeki fonksiyonlardan yararlanmayı sağlayan veyahut d&uuml;zensiz davranışları tespit eden &ccedil;erezler kullanabilmektedir.</li>
        <li><strong>İşlevselliğe y&ouml;nelik kullanımlar:</strong>&nbsp; kaktusyazilim.com, sistemlerinin kullanımını kolaylaştırmak ve kullanıcı &ouml;zelinde kullanım &ouml;zellikleri sağlamak amacıyla, kullanıcıların bilgilerini ve ge&ccedil;miş se&ccedil;imlerini hatırlatan &ccedil;erezler kullanabilmektedir.</li>
        <li><strong>Performansa y&ouml;nelik kullanımlar:</strong>&nbsp; kaktusyazilim.com, sistemlerinin performansının artırılması ve &ouml;l&ccedil;&uuml;lmesi amacıyla, g&ouml;nderilen iletilerle olan etkileşimi ve kullanıcı davranışlarını değerlendiren ve analiz eden &ccedil;erezler kullanabilmektedir.</li>
        <li><strong>Reklam ama&ccedil;lı kullanımlar:</strong>&nbsp; kaktusyazilim.com, kendine veya &uuml;&ccedil;&uuml;nc&uuml; taraflara ait sistemlerin &uuml;zerinden kullanıcıların ilgi alanları kapsamında reklam ve benzeri i&ccedil;eriklerin iletilmesi amacıyla, bu reklamların etkinliğini &ouml;l&ccedil;en veya tıklanma durumunu analiz eden &ccedil;erezler kullanabilmektedir.</li>
    </ul>

    <p>Web sitesine y&ouml;nelik ş&uuml;pheli eylemlerin tespiti ve gerekli g&uuml;venliğin sağlanması, ziyaret&ccedil;ilerin tercihleri doğrultusunda web sitesinin işlevsellik ve performansın artırılması, web sitesinde sunulan hizmetlerin ve &uuml;r&uuml;nlerin geliştirilmesi ve kişiselleştirilmesiyle, bu hizmetlere ve &uuml;r&uuml;nlere ulaşımın kolaylaştırılması, web sitesinin hukuki sorumluluklarının yerine getirilmesi ama&ccedil;lı &ccedil;erezler kullanmaktadır. Ayrıca, web sitesi ziyaret&ccedil;ilerini daha geniş kapsamlı hizmet sağlayıcılar ile buluşturulabilmesi amacıyla reklam &ccedil;erezleri ve &uuml;&ccedil;&uuml;nc&uuml; taraflarla bilgi paylaşımı da s&ouml;z konusudur. (son kısmı sitenizde reklam yayınlamıyorsanız silebilirsiniz)</p>

    <p>&Ccedil;erezler Yoluyla İşlenen Kişisel Veriler Nelerdir?</p>

    <p>Kişinin kimliği (isim, soy isim, lakap, doğum tarihi vb.) ve iletişim (ikamet adresi, e-posta adresi, telefon numarası, IP adresi, tarayıcı bilgisi, bilgisayar bilgisi, konum bilgisi vb.) bilgileri tarafımızca, web sitesinde mevcut &ccedil;erezler vasıtasıyla, otomatik veya otomatik olmayan y&ouml;ntemler veya yazılımlarla ve bazen de; reklam ağları, analitik yazılımlar, aranma ve hacim bilgisi sağlayıcıları, ilgili yazılımlar veya teknolojiler gibi &uuml;&ccedil;&uuml;nc&uuml; taraflar tarafından elde edilerek, kaydedilerek, depolanarak ve g&uuml;ncellenerek, aramızdaki şartlar ve hizmetler s&ouml;zleşmesi &ccedil;er&ccedil;evesinde ve s&uuml;resince, kişisel veri işleme şartlarına bağlı olarak hukuka uygun şekilde işlenecektir.</p>

    <p>Reklam Ama&ccedil;lı &Ccedil;erez Kullanımı</p>

    <p>(Sitede reklam yayınlanmıyorsa bu kısmı silebilirsiniz)</p>

    <p>www.kaktusyazilim.com, Google Adsense (veya hangi sistemi kullanıyorsanız, hepsini tek tek ayrı ayrı belirtin) reklam sistemi/sistemlerini kullanmaktadır. Bu sistem Google tarafından i&ccedil;erik sağlamak i&ccedil;in AdSense reklamlarının g&ouml;r&uuml;nt&uuml;lendiği yayıncı web sitelerinde sunulan reklamlarda kullanalan&nbsp;<a href="https://www.disclaimertemplate.com/doubleclick-dart-cookie/" target="_blank">DoubleClick DART</a>&nbsp;&ccedil;erezi i&ccedil;erir.</p>

    <p>&Uuml;&ccedil;&uuml;nc&uuml; taraf satıcı olarak Google, sitemizde reklam yayınlamak i&ccedil;in &ccedil;erezlerden yararlanır. Bu &ccedil;erezlerini kullanarak kullanıcılarınıza, sitenize ve internet&rsquo;teki diğer sitelere yaptıkları ziyaretlere dayalı reklamlar sunar.&nbsp;<a href="http://www.google.com/privacy_ads.html" target="_blank">Google Reklam ve İ&ccedil;erik Ağı Gizlilik Politikasını</a>&nbsp;ziyaret ederek DART &ccedil;erezinin kullanılmasını engelleyebilirsiniz.</p>

    <p>Google Web sitemizi ziyaret ettiği zamanlarda reklam hizmeti vermek i&ccedil;in &uuml;&ccedil;&uuml;nc&uuml; taraf reklam şirketlerini kullanmaktadır. S&ouml;z konusu şirketler, bu sitelere ve diğer web sitelerine yaptığınız ziyaretlerden elde ettikleri (adınız, adresiniz, e-posta adresiniz veya telefon numaranız dışındaki) bilgileri ilginizi &ccedil;ekecek &uuml;r&uuml;n ve hizmetlerin reklamını size g&ouml;stermek i&ccedil;in kullanabilir. Bu uygulama hakkında bilgi edinmek i&ccedil;in ve s&ouml;z konusu bilgilerin bu şirketler tarafından kullanılmasını engellemek &uuml;zere se&ccedil;eneklerinizin neler olduğunu &ouml;ğrenmek ve daha fazla bilgi i&ccedil;in&nbsp;<a href="http://www.networkadvertising.org/sites/default/files/imce/principles.pdf" target="_blank">NAI Self-Regulatory principles for publishers (PDF)</a>&nbsp;belgesinin A Eki&rsquo;nden yararlanabilirsiniz.</p>

    <p>&Ccedil;erezleri Kontrol Etme ve Silme</p>

    <p>&Ccedil;erezlerin kullanımına ilişkin tercihlerinizi değiştirmek ya da &ccedil;erezleri engellemek veya silmek i&ccedil;in tarayıcınızın ayarlarını değiştirmeniz yeterlidir. Bir&ccedil;ok tarayıcı &ccedil;erezleri kontrol edebilmeniz i&ccedil;in size &ccedil;erezleri kabul etme veya reddetme, yalnızca belirli t&uuml;rdeki &ccedil;erezleri kabul etme ya da bir web sitesi cihazınıza &ccedil;erez depolamayı talep ettiğinde tarayıcı tarafından uyarılma se&ccedil;eneği sunar. Aynı zamanda daha &ouml;nce tarayıcınıza kaydedilmiş &ccedil;erezlerin silinmesi de m&uuml;mk&uuml;nd&uuml;r. &Ccedil;erezleri kontrol edilmesine veya silinmesine ilişkin işlemler kullandığınız tarayıcıya g&ouml;re değişebilmektedir. Bazı pop&uuml;ler tarayıcıların &ccedil;erezlere izin verme ya da &ccedil;erezleri engelleme veya silme talimatlarına aşağıda g&ouml;sterilmiştir.</p>

    <p>&Ccedil;erez kullanım se&ccedil;iminin değiştirilmesine ait y&ouml;ntem, tarayıcı tipine bağlı olarak değişmekte olup, ilgili hizmet sağlayıcıdan dilendiği zaman &ouml;ğrenilebilmektedir.</p>

    <p>
        <strong>&Ccedil;erezlerin Kullanılmasını Nasıl Engelleyebilirsiniz?</strong>&nbsp;&Ccedil;erezlerin kullanılması Web Sitesi&#39;nin daha iyi hizmet vermekle birlikte eğer dilerseniz &ccedil;erezlerin kullanılmasını engelleyebilirsiniz. Ancak bu takdirde sitenin tam olarak işlevini g&ouml;sterememesi ve t&uuml;m &ouml;zelliklerinden yararlanamayabileceğinizi unutmayınız. &Ccedil;erezlerin kullanılmasını engellemek i&ccedil;in kullandığınız internet tarayıcınızın ayarlarınızı değiştirmeniz gerekmektedir. Bu değişiklikler kullandığınız cihaz ve internet tarayıcısına g&ouml;re değişiklik g&ouml;stermektedir. Aşağıda farklı internet tarayıcıları &uuml;zerinden &ccedil;erezlerin kullanılmasını engellemek i&ccedil;in hangi adımların izlenmesi gerektiğine ilişkin bilgiler yer almaktadır:<br />
        <br />
        &bull;&nbsp;<strong>Internet Explorer</strong>
    </p>

    <ol>
        <li>Bilgisayarınızın masa&uuml;st&uuml;n&uuml; a&ccedil;ın ve g&ouml;rev &ccedil;ubuğunda &quot;Internet Explorer&quot; simgesine dokunun veya tıklayın.</li>
        <li>&quot;Ara&ccedil;lar&quot; d&uuml;ğmesine, sonrasında da &quot;İnternet se&ccedil;enekleri&quot; kısmına tıklayın.</li>
        <li>&quot;Gizlilik&quot; sekmesine dokunun veya tıklayın, ardından t&uuml;m tanımlama bilgilerini engellemek i&ccedil;in ayarların altında bulunan kaydırıcıyı yukarıya hareket ettirin ve &quot;Tamam&quot; d&uuml;ğmesine tıklayın.</li>
    </ol>

    <p>&bull;&nbsp;<strong>Microsoft Edge</strong></p>

    <ol>
        <li>&quot;Microsoft Edge&quot; tarayıcınızın sağ &uuml;st k&ouml;şesinden &uuml;&ccedil; nokta işareti olan b&ouml;l&uuml;me tıklayın ve &quot;Ayarlar&quot; b&ouml;l&uuml;m&uuml;ne gelin.</li>
        <li>Karşınıza gelen yeni pencerede &quot;Temizlenecek &Ouml;ğeleri Se&ccedil;&quot; dedikten sonra, karşınıza gelen pencereden temizlemek istediğiniz &ccedil;erezleri se&ccedil;in.</li>
        <li>Burada bir&ccedil;ok b&ouml;l&uuml;m bulunmaktadır. İstediğiniz &ccedil;erezleri se&ccedil;erek temizleme işlemine başlayabilirsiniz.</li>
    </ol>

    <p>&bull;&nbsp;<strong>Google Chrome</strong></p>

    <ol>
        <li>Bilgisayarınızda&nbsp;<a href="https://www.google.com/intl/tr_tr/chrome/" target="_blank">Google Chrome</a>&#39;u a&ccedil;ın.</li>
        <li>Sağ &uuml;stte &quot;Diğer Ayarlar&quot; kısmınatıklayın.</li>
        <li>Altta bulunan &quot;Gelişmiş&quot; kısmına tıklayın.</li>
        <li>&quot;Gizlilik ve G&uuml;venlik&quot; kısmının altında olan &quot;İ&ccedil;erik Ayarları&quot; kısmına tıklayın.</li>
        <li>Sonrasında &quot;&Ccedil;erezler&quot; se&ccedil;eneğine tıklayın.</li>
        <li>&quot;T&uuml;m &ccedil;erezler ve Site Verileri&quot; kısmının altında giriş yapmış olduğunuz web sitesinin adını arayın.</li>
        <li>Sitenin sağındaki &quot;Kaldır&quot; simgesini tıklayın.</li>
    </ol>

    <p>&bull;&nbsp;<strong>Mozilla Firefox</strong></p>

    <ol>
        <li>&quot;Firefox&quot; tarayıcınızdan &quot;Men&uuml;&quot; d&uuml;ğmesine tıklayın ve &quot;Se&ccedil;enekler&quot; kısmına gelin.</li>
        <li>&quot;Gizlilik ve G&uuml;venlik&quot; panelini se&ccedil;in ve &quot;Ge&ccedil;miş&quot; b&ouml;l&uuml;m&uuml;ne gidin.</li>
        <li>Firefox ayarını, &quot;ge&ccedil;miş i&ccedil;in &ouml;zel ayarları kullansın&quot; olarak değiştirin.</li>
        <li>&quot;&Ccedil;erezleri G&ouml;ster&quot; d&uuml;ğmesine tıklayın. &Ccedil;erezler penceresi g&ouml;r&uuml;necektir.</li>
        <li>Arama alanına, &ccedil;erezlerini silmek istediğiniz sitenin adını yazın. Aramanızla web sitesiyle eşleşen &ccedil;erezler g&ouml;r&uuml;nt&uuml;lenecektir.</li>
        <li>Silmek istediğiniz &ccedil;erez(ler)i se&ccedil;ip &quot;Se&ccedil;ilenleri Sil&quot; d&uuml;ğmesine tıklayın.</li>
        <li>&quot;Kapat&quot; d&uuml;ğmesine tıklayarak &ccedil;erezler penceresini kapatın. Sonra da &quot;about:preferences&quot; sayfasını kapatın.</li>
    </ol>

    <p>&bull;&nbsp;<strong>Safari</strong></p>

    <ol>
        <li>&quot;Safari&quot; tarayıcısına girin ve &quot;Tercihler&quot; kısmına gelin.</li>
        <li>&quot;Gizlilik&quot; &ouml;ğesini tıklayın.</li>
        <li>&quot;Web Sitesi Verilerini&quot; tıklayın.</li>
        <li>Bir veya daha fazla web sitesi se&ccedil;in ve sonra &quot;Sil veya T&uuml;m&uuml;n&uuml; Sil&quot; se&ccedil;eneğine tıklayın.</li>
    </ol>

    <p>Ziyaret ettiğiniz web sitelerinin geride bıraktığı t&uuml;m &ccedil;erezli &uuml;&ccedil;&uuml;nc&uuml; parti yazılımlar aracılığıyla da silebilirsiniz.</p>

    <p><strong>Bu sitede Google Analytics Ziyaret&ccedil;i Takip Sistemi Kullanılmaktadır</strong>&nbsp;(&Ccedil;erez Politikasında, ziyaret&ccedil;ilere, &lsquo;Google Analytics Kapsamı Dışında Kalma&rsquo; se&ccedil;eneği verilmelidir)</p>

    <p><strong>Google Analytics Takibini Engelleme Eklentisi -&nbsp;</strong><a href="https://tools.google.com/dlpage/gaoptout?hl=tr" target="_blank"><strong>Google Analytics Kapsamı Dışında Kal</strong></a></p>

    <p><strong>Sitede Kullanılan &Ccedil;erezler:</strong>&nbsp;&Ccedil;erez Politikasında, sitede kullanılan &ccedil;erezler tek tek listelenmeli ve hepsinin ne işe yaradığı tek tek a&ccedil;ıklamaları ile yazılmalıdır. Ayrıca hangi &ccedil;erez ne kadar s&uuml;re ile saklanıyor, ne &ouml;zelliği var vb. bunlar tek tek listelenmelidir.</p>

    <p>Saklandığı S&uuml;re Bakımından &Ccedil;erez T&uuml;rleri</p>

    <p><strong>Kalıcı &Ccedil;erezler (Persistent Cookies):</strong>&nbsp;Kişinin bilgisayarında belirli bir tarihe veya kullanıcı tarafından silinene kadar varlığını s&uuml;rd&uuml;ren &ccedil;erezlerdir. Bu &ccedil;erezler, &ccedil;oğunlukla kullanıcıların site hareketlerini ve tercihlerini &ouml;l&ccedil;mek amacıyla kullanılır.</p>

    <p><strong>Oturum &Ccedil;erezleri (Session Cookies):</strong>&nbsp;Bu &ccedil;erezler kullanıcının ziyaretini oturumlara ayırmak i&ccedil;in kullanılır ve kullanıcıdan veri toplamaz. &Ccedil;erez, kullanıcı ziyaret ettiği web sayfasını kapattığında veya belli bir s&uuml;re pasif kaldığında silinir. Web Sitesi&#39;nde &uuml;&ccedil;&uuml;nc&uuml; kişilerin başta reklam hizmetleri olmak &uuml;zere hizmet sağlamasına yardımcı olmak ve bu hizmetlerin etkinliğini artırmak i&ccedil;in hedef ve izleme &ccedil;erezleri kullanılır. Bu &ccedil;erezler, ziyaret ettiğiniz web sayfalarını ve siteleri hatırlayabilir ve başta kullanıcı cihazının IP adresi olmak &uuml;zere kişisel verileri toplayabilir. Web Sitesi, bilgi toplamak, ilgi alanlarınızı ve demografik verileri hatırlamak ve size hedeflenmiş reklamları sunmak, reklamları iyileştirmek ziyaret edilme ve reklam g&ouml;sterimleri sayısını, reklam hizmetlerinin diğer kullanımlarını ve bu reklam g&ouml;sterimleri ve reklam hizmetleriyle ilgili etkileşimler arasındaki oranı belirlemek i&ccedil;in hem birinci taraf hem de &uuml;&ccedil;&uuml;nc&uuml; taraf &ccedil;erezlerini kullanmaktadır. Web Sitesi; Facebook ve LinkedIn gibi sosyal ağlara bağlantı sağlayan sosyal eklentilerden faydalanmaktadır. Web Sitesi&#39;ni ziyaret ettiğinizde ve bu eklentileri kullandığınızda, Web Sitesi doğrudan se&ccedil;ilen sosyal ağın sunucusuna bağlanır. Ardından, eklentinin sunduğu i&ccedil;erik doğrudan sosyal ağlardan web tarayıcınıza iletilir ve ziyaret etmekte olduğunuz web sitesine eklenir. B&ouml;ylelikle ilgili sosyal ağ size ait verilere ulaşarak işleyebilir ve ilgili sosyal ağdaki hesabınıza ait verilerle birleştirebilir.</p>

    <p>L&uuml;tfen sosyal ağların eklentiler aracılığıyla işlediği verilerin kapsamı &uuml;zerinde herhangi bir etkimiz ve kontrol&uuml;m&uuml;z olmadığını unutmayın. Sosyal ağların kişisel verilerinizi hangi ama&ccedil;la, hangi y&ouml;ntemlerle ve hangi s&uuml;reyle işleyeceğine ilişkin daha fazla bilgi almak i&ccedil;in l&uuml;tfen ilgili sosyal ağlar tarafından yayınlanan kişisel verilerin işlenmesi politikalarını dikkatlice inceleyin.</p>

    <p>Web Sitesi&#39;nde aşağıda yer alan &ccedil;erezler kullanmaktadır:</p>

    <table border="1" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <p><strong>&Ccedil;erezin Adı</strong></p>
                </td>
                <td>
                    <p><strong>Kullanım Amacı</strong></p>
                </td>
                <td>
                    <p><strong>Kullanım S&uuml;resi</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Google Analytics</p>
                </td>
                <td>
                    <p>Google Analytics, &ccedil;erezleri ziyaret&ccedil;ilerin Web Sitesini nasıl kullandıklarını analiz etmek amacıyla kullanır. Bu Web Sitesini kullanımınızla ilgili bilgiler (IP adresiniz dahil) Google&#39;a aktarılarak Google tarafından ABD&#39;deki sunucularda saklanmaktadır. Google bu bilgileri Web Sitesini kullanımınızı değerlendirmek, Şirket i&ccedil;in Web Sitesi faaliyetini derlemek ve Web Sitesi faaliyeti ve internet kullanımıyla ilgili başka hizmetler sağlamak amacıyla kullanacaktır, fakat IP adresinizi Google tarafından depolanan diğer verilerle eşleştirmeyecektir. Google Analytics kullanımı hakkında daha fazla bilgi i&ccedil;in (reddetme se&ccedil;enekleri dahil), şu adresi ziyaret edebilirsiniz:&nbsp;<a href="http://www.google.co.uk/intl/en/analytics/privacyoverview.html" target="_blank">Google Privacy</a>.</p>
                </td>
                <td>
                    <p>
                        Kalıcı &Ccedil;erezler<br />
                        Oturum &Ccedil;erezleri
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Google Ads</p>
                </td>
                <td>
                    <p>Google Ads, &ccedil;erezleri, g&uuml;venli arama tercihlerinizi hatırlamak, size daha alakalı reklamlar g&ouml;stermek, bir sayfaya ka&ccedil; ziyaret&ccedil;i geldiğini belirlemek, hizmetlerimize kaydolmanıza yardımcı olmak, verilerinizi korumak veya reklam ayarlarınızı hatırlamak i&ccedil;in kullanır. Bu, web sitesinin ziyaretinizle ilgili bilgileri (&ouml;rneğin, tercih ettiğiniz dil ve diğer ayarlar) hatırlamasına yardımcı olur. Bu Web Sitesini kullanımınızla ilgili bilgiler (IP adresiniz dahil) Google&#39;a aktarılarak Google tarafından ABD&#39;deki sunucularda saklanmaktadır. Google bu bilgileri Web Sitesini kullanımınızı değerlendirmek, Şirket i&ccedil;in Web Sitesi faaliyetini derlemek ve Web Sitesi faaliyeti ve internet kullanımıyla ilgili başka hizmetler sağlamak amacıyla kullanacaktır, fakat IP adresinizi Google tarafından depolanan diğer verilerle eşleştirmeyecektir. Google Ads &ccedil;erez kullanımı hakkında daha fazla bilgi i&ccedil;in (reddetme se&ccedil;enekleri dahil), şu adresi ziyaret edebilirsiniz:&nbsp;<a href="https://policies.google.com/privacy?hl=tr" target="_blank">Google Privacy</a></p>
                </td>
                <td>
                    <p>
                        Kalıcı &Ccedil;erezler<br />
                        Oturum &Ccedil;erezleri
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>RMC</p>
                </td>
                <td>
                    <p>RMC, web tarayıcısı aracılığıyla bilgisayarınıza veya &uuml;&ccedil;&uuml;nc&uuml; taraf bir analiz sağlayıcısına ait benzersiz bir tanımlayıcı i&ccedil;eren k&uuml;&ccedil;&uuml;k metin dosyaları olan &ldquo;&ccedil;erezleri&rdquo; kullanır. Bunu hizmetleri ve web sitelerini geliştirmek i&ccedil;in kullanır. RMC, belirli pazarlama kampanyalarının ve bazı &uuml;r&uuml;nlerinin performansını izlemek i&ccedil;in Google Analytics&#39;i kullanır. Bu, &uuml;&ccedil;&uuml;nc&uuml; taraf hizmet sağlayıcıların, farklı temas noktalarında RMC adına uyarlanmış reklamlar oluşturmasına izin vermektir. Bu servis sağlayıcılar, kişisel bilgilerinizi, iletişim bilgilerinizi vb. İ&ccedil;ermeyen IP adresinizi ve kişisel olarak tanımlanamayan bilgilerinizi toplayabilir. Bu &ccedil;erezler ayrıca web sitemizin nasıl kullanıldığına ve performansına ilişkin istatistiksel bilgiler de sağlar. RMC &ccedil;erez kullanımı hakkında daha fazla bilgi i&ccedil;in (reddetme se&ccedil;enekleri dahil), şu adresi ziyaret edebilirsiniz:&nbsp;<a href="https://www.relateddigital.com/en/rmc-product-privacy-policy" target="_blank">Related Digital Privacy</a></p>
                </td>
                <td>
                    <p>
                        Kalıcı &Ccedil;erezler<br />
                        Oturum &Ccedil;erezleri
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Facebook</p>
                </td>
                <td>
                    <p>Facebook &ccedil;erezleri, facebook hesabınız varsa, site ve uygulamalar dahil olmak &uuml;zere Facebook &uuml;r&uuml;nlerini kullanırsanız veya Facebook &uuml;r&uuml;nlerini kullanan siteleri veya uygulamaları (Beğen d&uuml;ğmesi ve diğer Facebook Teknolojileri dahil) ziyaret ederseniz, kullanır. &Ccedil;erezler, Facebook&#39;un Facebook &uuml;r&uuml;nlerini size sunmasını ve kayıtlı veya giriş yapmış olup olmamanızdan bağımsız olarak, diğer internet siteleri ve uygulamaları kullanımınız dahil olmak &uuml;zere sizin hakkında aldığı bilgileri anlamasını sağlar. &Ccedil;erezleri; kimlik kontrol&uuml;, g&uuml;venlik ve site b&uuml;t&uuml;nl&uuml;ğ&uuml;, reklamlar, tavsiyeler, &ouml;l&ccedil;&uuml;m, analiz ve raporlama i&ccedil;in kullanır.</p>

                    <p>Ayrıca ilginizi &ccedil;ekebilecek reklamları sosyal medya platformlarında da sunabilmek ve &ouml;zel hedef kitle oluşturmak amacıyla kişisel verilerinizden e-posta adresiniz bu platformlar ile paylaşılmaktadır. E-posta adresiniz, bu platformların sunduğug&uuml;venli kanallar ve ortamlar &uuml;zerinden aktarılmaktadır. Sosyal medya platformları, e-posta adresinizi hashleyerek, yalnızca eşleştirme işlemi i&ccedil;in kullanmaktadır. E-Posta adresiniz &uuml;&ccedil;&uuml;nc&uuml; taraflarla veya diğer reklam verenlerle paylaşılmaz ve eşleştirme işlemi tamamlandıktan sonra m&uuml;mk&uuml;n olan en kısa s&uuml;rede sosyal medya platformlarının sistemlerinden silinir. &Ouml;rneğin; Facebook, (a) kişisel veriniz Facebook sistemlerinde bulunduğu s&uuml;rece verilerin g&uuml;venliğini ve b&uuml;t&uuml;nl&uuml;ğ&uuml;n&uuml; korumak ve (b) Facebook sistemlerinde bulunan kişisel verinize yanlışlıkla veya yetkisiz olarak erişilmesine ve verinizin yanlışlıkla veya yetkisiz olarak kullanılmasına, değiştirilmesine veya ifşa edilmesine karşı korumak i&ccedil;in geliştirilen teknik ve fiziksel g&uuml;venlik &ouml;nlemlerini de i&ccedil;erecek şekilde, &ouml;zel hedef kitlenizi (&quot;&ouml;zel hedef kitleniz&quot;) oluşturan hash y&ouml;ntemiyle şifrelenen e-posta adresinizin ve Facebook Kullanıcı Kimliği koleksiyonunun gizliliğini ve g&uuml;venliğini sağlayacaktır. Ayrıca, izniniz olmadan veya yasalar gerektirmediği s&uuml;rece, Facebook &uuml;&ccedil;&uuml;nc&uuml; taraflara veya diğer reklam verenlere &ouml;zel hedef kitleniz i&ccedil;in erişim veya bilgi vermez, &ouml;zel hedef kitle bilgilerinizi kullanıcılarımız hakkındaki bilgilere eklemez veya ilgi alanına dayalı profiller oluşturmaz ya da &ouml;zel hedef kitlenizi size hizmet sunmanın haricinde kullanmaz. Facebook &ouml;zel hedef kitleler koşulları i&ccedil;in&nbsp;<a href="https://www.facebook.com/ads/manage/customaudiences/tos.php?_=_" target="_blank">Facebook Custom Audiences</a>&nbsp;adresini, Facebook Gizlilik İlkeleri i&ccedil;in&nbsp;<a href="https://www.facebook.com/privacy/explanation" target="_blank">Facebook Privacy</a>&nbsp;adresini ziyaret edebilirsiniz.</p>
                </td>
                <td>
                    <p>
                        Kalıcı &Ccedil;erezler<br />
                        Oturum &Ccedil;erezleri
                    </p>
                </td>
            </tr>
        </tbody>
    </table>

    <p>&nbsp;</p>

    <p>www.kaktusyazilim.com&nbsp;Sitemizde Kullanılan &Ccedil;erezlere ilişkin bilgiler aşağıdaki tabloda yer almaktadır:</p>

    <table border="1" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td><strong>Servis Sağlayıcı</strong></td>
                <td><strong>&Ccedil;erez İsmi</strong></td>
                <td><strong>&Ccedil;erez Amacı</strong></td>
                <td><strong>&Ccedil;erez Tipi</strong></td>
                <td><strong>&Ccedil;erez S&uuml;resi</strong></td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_BirthDate</td>
                <td>Kullanıcının doğum tarihi</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_CityName</td>
                <td>Kullanıcının yaşadığı şehir</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_Education</td>
                <td>Kullanıcının &uuml;niversitesi ve b&ouml;l&uuml;m&uuml;</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_EducationLevel</td>
                <td>Kullanıcının eğitim durumu</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_Gender</td>
                <td>Kullanıcının cinsiyeti</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_Geo</td>
                <td>Kullanıcının yaşadığı lokasyon</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_LastJobTitle</td>
                <td>Kullanıcının son pozisyonunun adı</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_LastJobTitleSegmentCode</td>
                <td>Kullanıcının m&uuml;şteri segmenti</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_Login</td>
                <td>Kullanıcının giriş yapıp yapmadığı bilgisi</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_Login_Module</td>
                <td>Kullanıcının neyin &uuml;zerinden giriş yaptığı bilgisi</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_Ozgecmis</td>
                <td>Kullanıcının &ouml;zge&ccedil;mişinin herkese a&ccedil;ık olup olmadığı bilgisi</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_UpdateResume</td>
                <td>Kullanıcının &ouml;zge&ccedil;mişinin g&uuml;ncel olup olmadığı bilgisi</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_WorkExperience</td>
                <td>Kullanıcının ne kadar iş tecr&uuml;besi olduğu bilgisi</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>CV_WorkStatus</td>
                <td>Kullanıcının iş sahipliği bilgisi</td>
                <td>Persistent Cookie</td>
                <td>En fazla 1 aylık</td>
            </tr>
        </tbody>
    </table>

    <p>&nbsp;</p>

    <p>Tablolar&nbsp;<strong>&ouml;rnek niteliği</strong>&nbsp;taşımaktadır.&nbsp;</p>

    <p>&nbsp;</p>

    <p>T&uuml;m bu a&ccedil;ıklamalardan ve size sunulan bilgiler ışığında, web sitesinde hangi &ccedil;erezlerin kullanılacağı konusu, zorunlu &ccedil;erezler hari&ccedil;, tamamen web sitesi ziyaret&ccedil;ilerinin &ouml;zg&uuml;r iradelerine bırakılmıştır. &Ccedil;erez tercihlerinizi, tarayıcınızın ayarlarından silerek ya da engelleyerek, web sitesine giriş yaptığınız anda y&ouml;netebilir veya istediğiniz zaman bu ayarları değiştirebilirsiniz.</p>

    <p>Diğer ana web tarayıcılarında bu işlemin nasıl yapılacağı hakkında daha fazla bilgiyi<a href="https://www.aboutcookies.org/" target="_blank">AboutCookies</a>&nbsp;adresinde bulabilirsiniz.</p>

    <p>Ziyaret ettiğiniz web sitelerinin geride bıraktığı t&uuml;m &ccedil;erezli &uuml;&ccedil;&uuml;nc&uuml; parti yazılımlar aracılığıyla da silebilirsiniz.</p>

    <p>Bu &#39;<strong>&Ccedil;erez Politikası</strong>&#39;nın en son g&uuml;ncellendiği tarih:&nbsp;<em>31 Aralık 2021 (31.12.2021)</em>&nbsp;</p>
</div>