
@{
    ViewData["Title"] = "Gizlilik & Kişisel Verileri Koruma Politikası";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section tags {
    <link rel="canonical" href="https://www.kaktusyazilim.com/gizlilik" type="text/html" />
    <meta name="description" content="@(new HtmlString( Model.Setting.MetaDescription))" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Kaktüs Yazılım">
    <meta property="og:title" content="@(new HtmlString(Model.Setting.MetaDescription))">
    <meta property="og:description" content="@(new HtmlString(Model.Setting.MetaDescription))">
    <meta property="og:url" content="https://www.kaktusyazilim.com">
    <meta property="og:locale" content="tr_TR">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@kaktusyazilimcom">
    <meta name="twitter:title" content="Kaktüs Yazılım">
    <meta name="twitter:url" content="https://www.kaktusyazilim.com">
    <meta name="twitter:description" content="@(new HtmlString(Model.Setting.MetaDescription))">
}
<div style="margin-top:100px;z-index:0 !important" class="inner-banner">
    <img src="/site/assets/images/bg/inner-bannerdot.png" class="inner-bannerdot" alt="image">
    <img src="/site/assets/images/bg/inner-bannerwave.png" class="inner-bannerwave" alt="image">
    <a class="down-arrow-icon" href="#service-details">
        <svg viewBox="0 0 14 26" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8182 18.469L7.24862 25.7462L0.679032 18.469C0.272584 18.0188 0.592074 17.3 1.19862 17.3L6.74862 17.3L6.74862 1C6.74862 0.723857 6.97248 0.5 7.24862 0.5C7.52477 0.5 7.74862 0.723857 7.74862 1L7.74862 17.3L13.2986 17.3C13.9052 17.3 14.2247 18.0188 13.8182 18.469Z" />
        </svg>
    </a>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center text-center">
            <div class="col-md-6">
                <h2 class="inner-banner-title wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    Gizlilik & Kişisel Verileri Koruma Politikası
                </h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb gap-3">
                        <li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Gizlilik & Kişisel Verileri Koruma Politikası
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container" style="margin-top:50px">
    <h2>Gizlilik &amp; Ki&#x15F;isel Verileri Koruma Politikas&#x131;</h2>
    <hr />
    <p>GİZLİLİK VE KİŞİSEL VERİLERİ KORUMA POLİTİKASI</p>

    <p>&nbsp;</p>

    <p>kaktusyazilim.com (Kaktüs Yazılım) olarak kişisel verilerinizin g&uuml;venliği hususuna azami hassasiyet g&ouml;stermekteyiz. Kişisel verileriniz 6698 sayılı Kişisel Verilerin Korunması Kanunu (&ldquo;KVKK&rdquo;)&rsquo;na uygun olarak işlenmekte ve muhafaza edilmektedir.&nbsp;</p>

    <p>&nbsp;</p>

    <p>1. Kişisel Verilerinizin Ne Şekilde İşlenebileceği</p>

    <p>&nbsp;</p>

    <p>6698 sayılı KVKK uyarınca, kaktusyazilim.com ile paylaştığınız kişisel verileriniz, tamamen veya kısmen, otomatik olarak veyahut herhangi bir veri kayıt sisteminin par&ccedil;ası olmak kaydıyla otomatik olmayan yollarla elde edilerek, kaydedilerek, depolanarak, değiştirilerek, yeniden d&uuml;zenlenerek, kısacası veriler &uuml;zerinde ger&ccedil;ekleştirilen her t&uuml;rl&uuml; işleme konu olarak tarafımızdan işlenebilecektir. KVKK kapsamında veriler &uuml;zerinde ger&ccedil;ekleştirilen her t&uuml;rl&uuml; işlem &ldquo;kişisel verilerin işlenmesi&rdquo; olarak kabul edilmektedir.</p>

    <p>&nbsp;</p>

    <p>2. Kişisel Verilerinizin İşlenme Ama&ccedil;ları Ve Hukuki Sebepleri</p>

    <p>&nbsp;</p>

    <p>Paylaştığınız kişisel veriler,</p>

    <p>&nbsp;</p>

    <p>M&uuml;şterilerimize verdiğimiz hizmetlerin gereklerini, s&ouml;zleşmenin ve teknolojinin gereklerine uygun şekilde yapabilmek, sunulan &uuml;r&uuml;n ve hizmetlerimizi geliştirebilmek i&ccedil;in;</p>

    <p>Kamu g&uuml;venliğine ilişkin hususlarda ve hukuki uyuşmazlıklarda, talep halinde ve mevzuat gereği savcılıklara, mahkemelere ve ilgili kamu g&ouml;revlilerine bilgi verebilmek i&ccedil;in;</p>

    <p>&Uuml;yelerimize geniş kapsamda &ccedil;eşitli imk&acirc;nlar sunabilmek veya bu imk&acirc;nları sunabilecek kişi veya kurumlarla yasal &ccedil;er&ccedil;evede paylaşabilmek i&ccedil;in;</p>

    <p>Reklam tercihlerini analiz etmek i&ccedil;in,</p>

    <p>6698 sayılı KVKK ve ilgili ikincil d&uuml;zenlemelere uygun olarak işlenecektir.</p>

    <p>&nbsp;</p>

    <p>3. Kişisel Verilerinizin Aktarılabileceği &Uuml;&ccedil;&uuml;nc&uuml; Kişi Veya Kuruluşlar Hakkında Bilgilendirme</p>

    <p>&nbsp;</p>

    <p>Yukarıda belirtilen ama&ccedil;larla, kaktusyazilim.com ile paylaştığınız kişisel verilerinizin aktarılabileceği kişi / kuruluşlar; ana hissedarlarımız, hissedarlarımız, reklam verenler, doğrudan veya dolaylı yurt i&ccedil;i / yurt dışı iştiraklerimiz; başta kaktusyazilim.com altyapısını kullanan &uuml;ye firmalar ve bunlarla sınırlı olmamak &uuml;zere sunulan hizmet ile ilgili kişi ve kuruluşlar olmak &uuml;zere, faaliyetlerimizi y&uuml;r&uuml;tmek &uuml;zere ve/veya Veri İşleyen sıfatı ile hizmet aldığımız, iş birliği yaptığımız, program ortağı kuruluşları, yurti&ccedil;i / yurtdışı kuruluşlar ve diğer 3. kişiler ve kuruluşlardır.</p>

    <p>&nbsp;</p>

    <p>Reklam ama&ccedil;lı kullanılacak &ccedil;erezlere ilişkin d&uuml;zenlemelerimiz &ldquo; kaktusyazilim.com &Ccedil;erez Politikası&rdquo; olup, şu anda okuduğunuz &ldquo;Gizlilik ve Kişisel Verilerin Korunması Politikası&rdquo;nın bir par&ccedil;asını oluşturmaktadır. &Ccedil;erez Politikamız hakkında bilgi edinmek i&ccedil;in l&uuml;tfen tıklayın. (Gereken &ccedil;erez politikası &ouml;rneğine belgenin en altında bulunan bağlantı ile ulaşabilirsiniz)</p>

    <p>&nbsp;</p>

    <p>4. Kişisel Verilerinizin Toplanma Şekli</p>

    <p>&nbsp;</p>

    <p>Kişisel verileriniz,</p>

    <p>&nbsp;</p>

    <p>kaktusyazilim.com internet sitesi ve mobil uygulamalarındaki formlar ile ad, soyad, adres, telefon, iş veya &ouml;zel e-posta adresi gibi bilgiler ile; kullanıcı adı ve şifresi kullanılarak giriş yapılan sayfalardaki tercihleri, ger&ccedil;ekleştirilen işlemlerin IP kayıtları, tarayıcı tarafından toplanan &ccedil;erez verileri ile gezinme s&uuml;re ve detaylarını i&ccedil;eren veriler, konum verileri şeklinde;</p>

    <p>kaktusyazilim.com ile ticari ilişki kurmak, iş başvurusu yapmak, teklif vermek gibi ama&ccedil;larla, kartvizit, &ouml;zge&ccedil;miş (cv), teklif vermek ve sair yollarla kişisel verilerini paylaşan kişilerden alınan, fiziki veya sanal bir ortamda, y&uuml;z y&uuml;ze ya da mesafeli, s&ouml;zl&uuml; veya yazılı ya da elektronik ortamdan;</p>

    <p>Ayrıca farklı kanallardan dolaylı yoldan elde edilen, web sitesi, blog, yarışma, anket, oyun, kampanya ve benzeri ama&ccedil;lı kullanılan (mikro) web sitelerinden ve sosyal medyadan elde edilen veriler, e-b&uuml;lten okuma veya tıklama hareketleri, kamuya a&ccedil;ık veri tabanlarının sunduğu veriler, sosyal medya platformları (Facebook, Twitter, Google, Instagram, Snapchat vs) gibi sosyal paylaşım sitelerinden paylaşıma a&ccedil;ık profil ve verilerden; işlenebilmekte ve toplanabilmektedir.</p>

    <p>5. KVKK Y&uuml;r&uuml;rl&uuml;ğe Girmeden &Ouml;nce Elde Edilen Kişisel Verileriniz</p>

    <p>&nbsp;</p>

    <p>kaktusyazilim.com, KVKK&rsquo;nun y&uuml;r&uuml;rl&uuml;k tarihi olan 7 Nisan 2016 tarihinden &ouml;nce yayım hayatına başlamadığı i&ccedil;in bu tarihten &ouml;nce depoladığımız bir kişisel veri bulunmamaktadır. (Eğer web siteniz bu tarihten &ouml;nce de veri topluyorsa verilerin ne şekilde işlendiği ve muhafaza edildiği mutlaka belirtilmelidir.)</p>

    <p>&nbsp;</p>

    <p>6. Kişisel Verilerinizin Aktarılması</p>

    <p>&nbsp;</p>

    <p>T&uuml;rkiye&rsquo;de işlenerek veya T&uuml;rkiye dışında işlenip muhafaza edilmek &uuml;zere, yukarıda sayılan y&ouml;ntemlerden herhangi birisi ile toplanmış kişisel verileriniz KVKK kapsamında kalmak kaydıyla ve s&ouml;zleşme ama&ccedil;larına uygun olarak yurtdışında bulunan (Kişisel Veriler Kurulu tarafından akredite edilen ve kişisel verilerin korunması hususunda yeterli korumanın bulunduğu &uuml;lkelere) hizmet aracılarına da aktarılabilecektir.</p>

    <p>&nbsp;</p>

    <p>Kişisel Verileriniz;</p>

    <p>&nbsp;</p>

    <p>&Uuml;r&uuml;n ve hizmetlerin sunulması ve tanıtılması i&ccedil;in işbirliği yapılan ve/veya hizmet alınan iş ortaklarımız,</p>

    <p>Acil yardım &ccedil;ağrısı halinde konumunuzu tespit edecek olan yetkili mercilere,</p>

    <p>D&uuml;zenleyici ve denetleyici kurumlar ile mahkeme ve icra m&uuml;d&uuml;rl&uuml;kleri gibi sair resmi kurumlara, kişisel verilerinizi talep etmeye yetkili olan diğer kamu kurum veya kuruluşlarına,</p>

    <p>kaktusyazilim.com ile ticari ilişki i&ccedil;inde bulunan ve telefon numaranıza sahip t&uuml;zel kişilere,</p>

    <p>Gerekli g&ouml;r&uuml;ld&uuml;ğ&uuml; durumlarda aktarılabilecektir.</p>

    <p>&nbsp;</p>

    <p>7. Kişisel Verilerin Saklanması Ve Korunması</p>

    <p>&nbsp;</p>

    <p>kaktusyazilim.com , kişisel verilerinizin barındığı sistemleri ve veri tabanlarını, KVKK&rsquo;nun 12. Maddesi gereği kişisel verilerin hukuka aykırı olarak işlenmesini &ouml;nlemekle, yetkisiz kişilerin erişimlerini engellemekle; muhafazalarını sağlamak amacıyla hash, şifreleme, işlem kaydı, erişim y&ouml;netimi gibi yazılımsal tedbirleri ve fiziksel g&uuml;venlik &ouml;nlemleri almakla m&uuml;kelleftir. Kişisel verilerin yasal olmayan yollarla başkaları tarafından elde edilmesinin &ouml;ğrenilmesi halinde durum derhal, yasal d&uuml;zenlemeye uygun ve yazılı olarak Kişisel Verileri Koruma Kurulu&rsquo;na bildirilecektir.</p>

    <p>&nbsp;</p>

    <p>8. Kişisel Verilerin G&uuml;ncel Ve Doğru Tutulması</p>

    <p>&nbsp;</p>

    <p>KVKK&rsquo;nun 4. maddesi uyarınca kaktusyazilim.com&rsquo;un kişisel verilerinizi doğru ve g&uuml;ncel olarak tutma y&uuml;k&uuml;ml&uuml;l&uuml;ğ&uuml; bulunmaktadır. Bu kapsamda kaktusyazilim.com&rsquo;un y&uuml;r&uuml;rl&uuml;kteki mevzuattan doğan y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getirebilmesi i&ccedil;in &uuml;yelerimizin doğru ve g&uuml;ncel verilerini paylaşması veya web sitesi / mobil uygulama &uuml;zerinden g&uuml;ncellemesi gerekmektedir.</p>

    <p>&nbsp;</p>

    <p>9. 6698 Sayılı Kvkk Uyarınca Kişisel Veri Sahibinin Hakları</p>

    <p>&nbsp;</p>

    <p>6698 sayılı KVKK 11.maddesi 07 Ekim 2016 tarihinde y&uuml;r&uuml;rl&uuml;ğe girmiş olup ilgili madde gereğince, Kişisel Veri Sahibi&rsquo;nin bu tarihten sonraki hakları aşağıdaki gibidir:</p>

    <p>&nbsp;</p>

    <p>Kişisel Veri Sahibi, kaktusyazilim.com&rsquo;a (veri sorumlusu) başvurarak kendisiyle ilgili;</p>

    <p>Kişisel veri işlenip işlenmediğini &ouml;ğrenme,</p>

    <p>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</p>

    <p>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını &ouml;ğrenme,</p>

    <p>Yurt i&ccedil;inde veya yurt dışında kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişileri bilme,</p>

    <p>Kişisel verilerin eksik veya yanlış işlenmiş olması h&acirc;linde bunların d&uuml;zeltilmesini isteme,</p>

    <p>KVKK&rsquo;nun 7. maddesinde &ouml;ng&ouml;r&uuml;len şartlar &ccedil;er&ccedil;evesinde kişisel verilerin silinmesini veya yok edilmesini isteme,</p>

    <p>Kişisel verilerin d&uuml;zeltilmesi, silinmesi, yok edilmesi halinde bu işlemlerin, kişisel verilerin aktarıldığı &uuml;&ccedil;&uuml;nc&uuml; kişilere de bildirilmesini isteme,</p>

    <p>İşlenen verilerin m&uuml;nhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya &ccedil;ıkmasına itiraz etme,</p>

    <p>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması h&acirc;linde zararın giderilmesini talep etme, haklarına sahiptir.</p>

    <p>10. İletişim ve Başvuru Y&ouml;ntemi</p>

    <p>&nbsp;</p>

    <p>kaktusyazilim.com tarafından atanacak Veri Sorumlusu Temsilcisi, yasal altyapı sağlandığında Veri Sorumluları Sicilinde ve bu belgenin bulunduğu internet adresinde ilan edilecektir.</p>

    <p>&nbsp;</p>

    <p>Kişisel Veri Sahipleri, sorularını, g&ouml;r&uuml;şlerini veya taleplerini iletisim@kaktusyazilim.com e-posta adresine y&ouml;neltebilirler.</p>

    <p>&nbsp;</p>

    <p>kaktusyazilim.com iletilen taleplere, gerek&ccedil;eli olmak ve 30 g&uuml;n i&ccedil;inde cevap vermek kaydıyla olumlu/olumsuz yanıtını, yazılı veya dijital ortamdan verebilir. Taleplere ilişkin gerekli işlemlerin &uuml;cretsiz olması esastır. Ancak işlemlerin bir maliyet gerektirmesi halinde, kaktusyazilim.com , &uuml;cret talebinde bulunma hakkını saklı tutar. Bu &uuml;cretler, Kişisel Verilerin Korunması Kurulu tarafından, Kişisel Verilerin korunması Kanunu&rsquo;nun 13. maddesine g&ouml;re belirlenen tarife &uuml;zerinden belirlenir.</p>

    <p>&nbsp;</p>

    <p>Web sayfamızda, uygulamalarımızda ve diğer sair kanallarımızda kişisel verilerinizi paylaşarak Kişisel Veriler Politikamızı ve politikamızda yer alan işlenme, işlenme y&ouml;ntemleri, verilerin aktarılması, satışı ve diğer ilgili hususlar hakkındaki şartları, Bir sosyal medya uygulaması olan kaktusyazilim.com ile paylaşılan verilerin web sayfasında, uygulamalarda ve sosyal medya kanallarında kullanılmasını, bildirimlerde ve &ouml;nerilerde bulunulmasını, &uuml;yelerin yararına olması şartıyla ticari anlamda &uuml;&ccedil;&uuml;nc&uuml; kişilerle paylaşılabileceğini ve yine bunun i&ccedil;in kabulde bulunduğunuzu, yasal haklarınızı kullanmadan &ouml;nce kaktusyazilim.com&rsquo;a başvuruda bulunacağınızı KVKK&rsquo;da b&uuml;y&uuml;k &ouml;neme haiz, belirli bir konuya ilişkin, bilgilendirilmeye dayanan ve &ouml;zg&uuml;r iradeyle a&ccedil;ıklanan rıza şeklinde tanımlanan a&ccedil;ık bir rıza ile kabul ettiğinizi beyan etmiş olursunuz.</p>

    <p>&nbsp;</p>

    <p>Bu s&ouml;zleşme en son &nbsp;25/03/2020 tarihinde g&uuml;ncellenmiştir.</p>

</div>