
<div class="activities-section pt-80 pb-80">
    <img src="/site/assets/images/bg/water-mark1.webp" alt="image" class="img-fluid water-mark1">
    <img src="/site/assets/images/bg/water-mark2.webp" alt="image" class="img-fluid water-mark2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="section-title primary3">
                    <span>-Video-</span>
                    <h3>Şirket Faaliyetlerimiz</h3>
                    <p class="para">Videomuz çok yakında sizlerle</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="activities-area">
                <div class="company-vdo position-relative wow fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                   
                </div>
                <div class="company-counter wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
                    <div class="row g-4 d-flex justify-content-center">
                        <div class="col-lg-3 col-md-6 col-sm-10 col-10">
                            <div class="counter-single text-center d-flex flex-row wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.6s">
                                <div class="coundown d-flex flex-column">
                                    <h2 class="odometer" data-odometer-final="75">&nbsp;</h2>
                                    <a href="#">Tamamlanan proje</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-10 col-10">
                            <div class="counter-single text-center d-flex flex-row wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.6s">
                                <div class="coundown d-flex flex-column">
                                    <h2 class="odometer" data-odometer-final="5">&nbsp;</h2>
                                    <a href="#">Yıl Tecrübe</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-10 col-10">
                            <div class="counter-single text-center d-flex flex-row wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.6s">
                                <div class="coundown d-flex flex-column">
                                    <h2 class="odometer" data-odometer-final="10">&nbsp;</h2>
                                    <a href="#">Takım Üyesi</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-10 col-10">
                            <div class="counter-single text-center d-flex flex-row wow animate fadeInDown" data-wow-duration="1.5s" data-wow-delay="0.8s">
                                <div class="coundown d-flex flex-column">
                                    <h2 class="odometer" data-odometer-final="10">&nbsp;</h2>
                                    <a href="#">Adet Hizmet</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
