<div class="offer-section pt-80 pb-80">
    <img src="/site/assets/images/bg/web-top.svg" class="img-fluid web-top" alt="image">
    <img src="/site/assets/images/bg/web-bottom.svg" class="img-fluid web-bottom" alt="image">
    <img src="/site/assets/images/icons/triangle-icon.svg" class="img-fluid triangle-icon" alt="image">
    <div class="container">
        <div class="row justify-content-center align-items-center gy-5">
            <div class="col-lg-7 order-lg-1 order-2">
                <div class="offer-content wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay=".2s">
                    <img src="/site/assets/images/icons/service33.svg" alt="image">
                    <h3>
                        Kaktüs Yazılım ile yapacağınız ilk projeye özel indirimler
                    </h3>
                    <p class="para">Bir çok girişimciyle çalışıyoruz ve onları hayallerine taşımak için büyük bir özveriyle çalışıyoruz. Sizinde bir projeniz var ise ilk projenize özel teklifler veriyoruz.</p>
                    <a href="service-details.html" class="eg-btn btn--primary3 btn--lg">Hemen Başlayın</a>
                </div>
            </div>
            <div class="col-lg-5 order-lg-2 order-1">
                <div class="offer-image-area">
                    <img src="/site/assets/images/bg/offer-bg.png" class="img-fluid offer-bg" alt="image">
                    <img src="/site/assets/images/icons/snake-arrow.svg" class="img-fluid snake-arrow" alt="image">
                    <div class="offer-ellipse">
                        <h4>35% <br> İndirim</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
